<div id="commentTabPanel" class="panel-body" ng-show="ctrl.isAssignmentNoteAllowed()">
  <tabset type="tabs" class="bg-light" justified="true">
    <tab heading="{{'ui_access_request_comments' | spTranslate}}">
      <div role="tabpanel" class="tab-pane active" id="commentTab">
        <textarea tabindex="50" id="comment" ng-model="ctrl.comment" class="form-control" rows="4"
                  placeholder="{{'ui_access_request_comments_placeholder_text' | spTranslate}}"></textarea>
      </div>
    </tab>
    <tab heading="{{'ui_access_request_assignment_notes' | spTranslate}}">
      <div role="tabpanel" class="tab-pane" id="assignmentNoteTab">
        <textarea tabindex="50" id="assignmentNote" ng-model="ctrl.assignmentNote" class="form-control" rows="4"
                  placeholder="{{'ui_access_request_note_placeholder_text' | spTranslate}}"></textarea>
      </div>
    </tab>
  </tabset>
</div>

<div id="commentPanel" class="panel-body" ng-show="!ctrl.isAssignmentNoteAllowed()">
  <div id="commentArea">
    <textarea tabindex="50" id="commentTextArea" ng-model="ctrl.comment" class="form-control" rows="4"
              placeholder="{{'ui_access_request_comments_placeholder_text' | spTranslate}}"></textarea>
  </div>
</div>

<div class="panel-footer clearfix bg-light lt text-right">
  <button id="cancelCommentBtn" tabindex="50" ng-click="ctrl.cancel()" class="btn btn-link btn-sm pull-left">
    {{'ui_button_cancel' | spTranslate}}
  </button>
  <button id="saveCommentBtn" tabindex="50" class="btn btn-info btn-sm pull-right" href="#" ng-click="ctrl.saveComment()">
    {{'ui_button_save' | spTranslate}}
  </button>
</div>
