.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 5px 0px;
  padding: 15px 10px 15px 50px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.info a {
  color: #00529B;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.success a {
  color: #4F8A10;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.warning a {
  color: #9F6000;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.error a {
  color: #D8000C;
}

.validation {
  color: #D63301;
  background-color: #FFCCBA;
}

.validation a {
  color: #D63301;
}

.message-text {
  display: inline;
}

.close-img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  margin: 2px;
  cursor: pointer;
  background-image: url(../../images/icons/close-delete-messages.png);
}

.message-list {
  list-style-type: none;
  margin-left: 10px;
}

.message-list div {
  display: inline;
}

.message-list li a {
  text-decoration: underline;
}

.message-list li a:HOVER {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}