/** Hide the error messages area **/
#spErrorMsgsDiv {
  display: none;
}

.x-fieldset-header-text, .x-panel-header-text {
  font-size: 12px;
  color: #333;
}

.x-panel-mc {
  padding-top: 0;
  background: #FFFFFF;
}

.x-panel-tl {
  border: 0;
}

.x-panel-mc .x-panel-tbar .x-toolbar {
  border-bottom: 1px solid #CCCCCC;
  border-color: #CCCCCC;
}

/** no border on the toolbar, overrides iiq-extjs.css */
#StepArgumentsPanel-body .x-toolbar {
    border: 0px;
}

textarea {
  overflow: auto;
}

.x-grid-cell-inner, .x-grid-cell {
  white-space: normal;
}

#workflowsGrid .x-grid-cell-inner {
  cursor: pointer;
}

#approvalWindow .x-form-field-wrap {
  display: inline;
}

#approvalWindow .x-form-check-wrap, #variablePanel .x-form-check-wrap {
  display: inline;
  vertical-align: middle;
}

#approvalWindow .x-form-checkbox {
  margin: 0 10px 0 0;
}

#approvalWindow .multisuggest input {
  width: 355px;
}

#approvalWindow .multisuggest .x-panel-body {
  padding: 0;
}

#approvalWorkItemConfig .x-fieldset-body {
  overflow: visible !important;
}

/* WorkItemConfigPanel.js */
#workItemOverrideFields .x-panel-body, #requireEsignaturePanel .x-panel-body {
  padding: 0 !important;
}

#workItemOverrideContainer, #requireEsignatureContainer {
  border: 1px solid #CCCCCC;
  margin-bottom: 8px;
}

.spacer {
  margin: 8px 0;
}

.line-spacer {
  margin: 8px 0;
  border-top: 1px solid #CCCCCC;
}

.x-form-field {
  vertical-align: middle;
}

#stepWindow .x-btn, #variablePanel .x-btn, #approvalWindow .x-btn {
  margin: 8px 0 0 0;
}

#stepWindow .x-panel-body, #variablePanel .x-panel-body, #workflowDetailsPanel .x-panel-body, #approvalWindow .x-panel-body {
  padding: 10px;
}

.variable-label {
  font-weight: bold;
}

.right-label label {
  float: right;
  padding: 0 !important;
}

.right-label {
  width: 110px;
}

.right-label input {
  float: left;
}

#variablePanel .x-form-item.right-label {
  float: none !important;
  overflow: hidden;
}

#variablePanel .blocklabel label {
  float: none;
}

/* Multiselect components in config forms */
#variablePanel .x-grid-body, #stepWindow .x-grid-body {
    padding: 0;
}

p.help {
  font-size: 12px;
  line-height: 15px;
}

.x-window-plain .x-window-body {
  background: #FFF none repeat scroll 0 50% !important;
  padding: 10px;
}

#workflowDesigner .x-panel-body {
  background-image: url(../../../../../images/grid.jpg) !important;
  background-repeat: repeat;
  overflow: visible !important;
}

#workflowDesigner .x-panel-bwrap {
  overflow: auto !important
}

#workflowDesigner .x-panel-body-noborder {
  overflow: hidden !important
}

.pointer {
  width: 16px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}

.gateway {
  width: 36px;
  height: 36px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}

.step {
  background-image: url(../../../../../images/icons/gwe-icon-default.png);
  background-repeat: no-repeat;
  width: 54px;
  height: 49px;
  position: absolute;
  cursor: move;
  padding-top: 50px;
}

/* Small icons for template steps ("Add a Step") */
.audit_sm {
  background-image: url(../../../../../images/icons/magnifier.png) !important;
}

.analysis_sm {
  background-image: url(../../../../../images/icons/table.png) !important;
}

.approval_sm {
  background-image: url(../../../../../images/icons/accept.png) !important;
}

.task_sm {
  background-image: url(../../../../../images/icons/server_go.png) !important;
}

.undo_sm {
  background-image: url(../../../../../images/icons/arrow_undo.png) !important;
}

.message_sm {
  background-image: url(../../../../../images/icons/comments.png) !important;
}

.email_sm {
  background-image: url(../../../../../images/icons/email.png) !important;
}

.provision_sm {
  background-image: url(../../../../../images/icons/application_form_edit.png) !important;
}

.start_sm {
  background-image: url(../../../../../images/icons/go.png) !important;
  background-repeat: no-repeat;
}

.stop_sm {
  background-image: url(../../../../../images/icons/cancel.png) !important;
  background-repeat: no-repeat;
}

._sm {
  background-image: url(../../../../../images/icons/gwe-icon-default-sm.png);
}
/* END of small icons for template steps*/

/* Step icons for the Process Designer */
.gwe-icon {
  background: url(../../../../../images/icons/gwe-icon-default.png) no-repeat center 10px;
  float: left;
  width: 66px;
  text-align: center;
  padding: 60px 5px 5px 5px;
  height: 50px;
  font-size: 10px;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.gwe-icon.icon-on {
  background-color: #fdffbc;
  border: 1px solid #fee571;
}

.gwe-icon.audit {
  background-image: url(../../../../../images/icons/gwe-icon-audit.png) !important;
}

.gwe-icon.analysis {
  background-image: url(../../../../../images/icons/gwe-icon-launch-analysis.png) !important;
}

.gwe-icon.approval {
  background-image: url(../../../../../images/icons/gwe-icon-approval.png) !important;
}

.gwe-icon.catches {
  background-image: url(../../../../../images/icons/gwe-icon-catches.png) !important;
}

.gwe-icon.task {
  background-image: url(../../../../../images/icons/gwe-icon-launch-task.png) !important;
}

.gwe-icon.undo {
  background-image: url(../../../../../images/icons/gwe-icon-undo.png) !important;
}

.gwe-icon.message {
  background-image: url(../../../../../images/icons/gwe-icon-comment.png) !important;
}

.gwe-icon.email {
  background-image: url(../../../../../images/icons/gwe-icon-send-message.png) !important;
}

.gwe-icon.provision {
  background-image: url(../../../../../images/icons/gwe-icon-provision.png) !important;
}

.gwe-icon.start {
  background-image: url(../../../../../images/icons/gwe-icon-start.png) !important;
}

.gwe-icon.stop {
  background-image: url(../../../../../images/icons/gwe-icon-stop.png) !important;
}
/*END of Step Icons for the Process Designer */

.step-name {
  background: #FFFFCC none repeat scroll 0 0;
  border: 1px solid #CCCCCC;
  font-size: 7pt;
  padding: 2px;
  text-align: center;
  height: auto;
  position: absolute;
}

.step-name.invalid {
  background: #FFFFCC url(../../../../../scripts/ext-4.1.0/resources/images/grid/invalid_line.gif) repeat-x scroll center bottom;
  border: 1px solid #DD7870;
  color: #DD7870;
}

.dd-proxy {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default !important;
}

/** Radio Button Garbage **/
.x-form-element {
  padding-left: 5px !important;
  float: left;
}

#variablePanel .x-form-item, fieldset .x-form-item {
  float: left !important;
  margin: 5px 0;
}

#approvalWorkItemConfig fieldset, #approvalWorkItemConfig legend {
  border: 0;
  background: none;
  padding: 0
}

.x-window-body .x-panel-collapsed {
  display: none;
}

.gw_title {
  float: left;
}

.gw_remove {
  float: right;
  background: url(../../../../../images/icons/delete.png) no-repeat center center;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  cursor: pointer;
}

.gw_up {
  float: right;
  background: url(../../../../../images/icons/up_circle_16.png) no-repeat center center;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  cursor: pointer;
}

.gw_up.off {
  background: url(../../../../../images/icons/up_circle_off_16.png) no-repeat center center !important;
  cursor: auto !important;
}

.gw_down {
  float: right;
  background: url(../../../../../images/icons/down_circle_16.png) no-repeat center center;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  cursor: pointer;
}

.gw_down.off {
  background: url(../../../../../images/icons/down_circle_off_16.png) no-repeat center center !important;
  cursor: auto !important;
}

#approvalArea p {
  margin-bottom: 5px;
}

#approvalArea table {
  display: inline;
}

#approvalArea table td.x-btn-right {
  padding-left: 10px;
}

.variable {
  display: block;
  overflow: hidden;
}

.variable .x-panel-body {
  padding: 0 !important;
  border: 0;
}

.variable .closer {
  cursor: pointer;
  float: left;
  margin: 9px 13px 0 10px;
}

.variable .hideopen {
  display: none;
}

.variable.closed .hideopen {
  display: block;
}

.variable.closed {
  height: 40px !important;
  overflow: hidden;
}

.variable .block {
  display: block;
  clear: both;
}

.variable.closed .hideclosed, .variable.closed .x-form-item-label, .variable.closed .x-field {
  display: none;
}

.variable h2 {
  border: 1px #eee solid;
  line-height: 20px;
  padding: 3px 0;
  cursor: pointer;
  background: #e6e6e6 url('../../../../../images/gradients/quicklink_bg.png') 0 -25px repeat-x;
}

.variable h2 span.title {
  display: block;
  padding-left: 30px;
  background: url('../../../../../images/icons/selector.png') 5px 6px no-repeat;
  line-height: 25px;
  overflow: hidden;
  padding-left: 30px;
  height: 30px;
}

.variable legend {
  max-height: 30px;
  width: 100%;
  border: 0;
  background-color: transparent;
}

.variable .varName {
  font-weight: bold;
}

.variable .varDescription {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}

.scriptRadio legend {
  width: auto;
  border: 1px solid #CCCCCC;
  font-weight: normal;
}

.x-webkit .scriptRadio legend {
  border-top: 2px solid #CCCCCC !important;
}

.variable.x-fieldset-collapsed {
  border-top-width: 0 !important;
  border-bottom-width: 1px !important;
  padding-bottom: 10px !important;
}

.variable .x-panel-header-text {
  font-weight: bold;
}

.variable .x-fieldset-header-text {
  float: none;
}

.variable.x-fieldset-collapsed .x-fieldset-header-text, .x-panel-collapsed .variable .x-panel-header-text {
  font-weight: normal;
}

.variable h2 span.descr {
  color: #666;
  font-weight: normal;
  font-size: 12px;
}

.variable .deleteBtn {
  background-repeat: no-repeat !important;
  padding-left: 20px !important;
}

.initializer input.x-form-radio {
  margin-right: 25px;
}

.monitorBtn {
  background-image: url(../../../../../images/icons/eye.png) !important;
  background-repeat: no-repeat;
}

.unmonitorBtn {
  background-image: url(../../../../../images/icons/no-eye.png) !important;
  background-repeat: no-repeat;
}

.layoutBtn {
  background-image: url(../../../../../images/icons/chart_line.png) !important;
}

.stepCondition {
  background-image: url(../../../../../images/icons/step_condition.png) !important;
}

.transitionStart {
  background-image: url(../../../../../images/icons/link_go.png) !important;
}

.transitionEnd {
  background-image: url(../../../../../images/icons/link_add.png) !important;
}

.templateBtn {
  background-image: url(../../../../../images/icons/application_double.png) !important;
}

/* Don't need this extra border */
#workflowPanel-body {
  border: 0 !important;
}

div.tinytoolbar .x-btn {
  padding: 5px;
}

/* Make sure the form doesn't overflow its containing window */
.form-object {
  max-width: 650px;
}