/** Remove the gradients images from ie background **/
.x-nlg .x-panel-header-default-top,
.x-nlg .x-panel-header-default-left {
  background-image:none !important;
}

.x-column-header-inner {
  font-weight:bold;  
}

.x-column-header-over,
.x-column-header-sort-ASC,
.x-column-header-sort-DESC {
  color:#666 
}

.x-grid-group-title {
    color:#3764A0;
}
.x-grid-group-hd .x-grid-cell-inner {
    border-color:#99BBE8;

}

.x-grid {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom:10px;
}

    #dashTable .x-grid,
    .x-panel-body .x-grid,
    .x-window .x-grid {
        box-shadow:0;
        margin-bottom:0;
    }
    
/** Give the over state on the combo box a darker green highlight **/
.x-boundlist-item-over {
  color: #000000;
  background-image: none;
  background-color: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(top, #fff, #eee); 
  border-color: #eee; 
}

.x-tab-bar-strip-default, .x-tab-bar-strip-default-plain {
    background-color: #80AE50;
    border-color: #80AE50;
    display:none;
}

.x-border-box .x-tab-bar-top .x-tab-bar-strip {
    height: 2px;
    top:23px;
}

.x-border-box .x-tab-bar-top .x-tab-bar-body {
    padding:1px 0 0;
}

.x-tab-bar-body .x-box-inner {
    top: 1px;
}

.x-tab-bar, .x-nlg .x-tab-bar {
  background:none; 
}

.x-tab-bar-top .x-tab-bar-body {
  border:none;
}

.x-accordion-item .x-panel-header-default-top {
    box-shadow:none;
}
/** Font Colors **/
.x-tab button {
  color:#333;
  font-weight:normal;
}
.x-tab-active button {
  font-weight:bold;
}

.multisuggest .x-grid-view {
  overflow-x: hidden !important;
}