<div class="modal-header">
  <button ng-click="$dismiss()" type="button" class="close" aria-hidden="true">&#215;</button>
  <h4 class="modal-title" id="errorDialogTitle">{{'ui_error_warn_title' | spTranslate}}</h4>
</div>
<div class="modal-body">
  <div class="alert alert-warning" >
    <div class="row">
      <div class="col-xs-1 h6">
        <i class="fa fa-exclamation-triangle fa-3x" role="presentation"></i>
      </div>
      <div class="col-xs-11 h4" role="alert">
        <p>{{errorMessage}}</p>
        <p>{{'ui_error_warn_message' | spTranslate}}</p>
      </div>
    </div>
  </div>
</div>
