/***********************************
/** Role Mining and edit styles
/**********************************/

.roleMiningTableCell {
  border:1px solid #CCCCCC;
  padding-left:1px;
}

.roleMiningDeleteIcon {
  background-image:url(../../../../../images/icons/remove_12.png) !important;
  background-repeat:no-repeat;
}

.launchAnalysisBtn {
  background-image:url(../../../../../images/icons/server_go.png) !important; 
}

/* Role sunrise/sunset date formatting */
.activationNotice {
  font-size:8pt;
  line-height:10pt;
  background-image: url(../../../../../images/icons/clock.png) !important;
  background-repeat: no-repeat !important;
  background-position: 4px center !important;
  background-color:#fff6bf;
  padding:3px 5px 3px 25px;
  border:1px #ffd324 dotted;
  margin-left:5px;
  overflow:hidden;
}

.activationNotice .label {
  font-size:8pt;
  line-height:10pt;
  font-weight:bold;
  margin-left:10px;
}

.activationNotice .edit {
  float:right;
}
/*END Role sunrise/sunset date */

/* Padding for attributes/ipop selector radio buttons */
.attributeOrIpopSelector tr td{
  padding:5px;
}

/* Role Editor column class */
.businessRoleLeft {
  text-align: left;
  width: 20%;
}

.noResultsNode{
  background-image:url(../../../../../images/blank.gif) !important;
  background-repeat: no-repeat !important;
}

.missingRoleIcon{
  background-image:url(../../../../../images/icons/cross.png) !important;
  background-repeat: no-repeat !important;
}

.modelerMetricsTableContent {
  text-decoration: underline;
  cursor:pointer;
  color: #037DA1;
  font-size: 14px;
  font-weight: 700;
}

/* Tree node styles */
.disabledNodeCls {
  color: gray !important;
}

.pendingNodeCls {
  color: red !important;
}

#bfrMiningPanel .x-toolbar {
  border-top: none !important;
  border-bottom: 1px solid #ccc !important;
  padding: 10px 10px;
}

#bfrMiningPanel table tr {
  height: 30px;
}

#roleFieldsPanelTable > tbody > tr > td {
  padding: 5px 0;
}

#roleOptionsTable > tbody > tr > td {
    padding: 5px 0;
}

#editedRoleOwnerSuggest td, #roleDescriptionHTMLCmp td {
  padding: 0 !important;
}

#roleFieldsPanel table td.businessRoleLeft {
  padding-right: 10px;
}

#roleAttributeEditorTable {
  border: none !important;
}

#roleAttributeEditorTable tr {
  line-height: 16px;
}

#roleAttributeEditorTable td {
  padding: 10px 0;
  margin: 0;
}

div.identitySuggest table td , div.dateField table td {
  padding: 0 !important;
}

/* Role viewer tab statistics section */
#roleMetrics table {
  margin-top: 10px;
  border: 1px solid #ccc;
}

#roleMetrics table td {
  border: 1px solid #ccc;
}

#roleMetrics table td.sectionHeader {
  display: block;
}


div.targetAccountSelector {
  display: inline-block;
}

#provisioningTargetAccountSelectorRuleDisplayContents {
  padding: 5px;
}

#provisioningTargetAccountSelectorRuleDisplayContents table td {
  padding: 5px;
}

/* used in role details popup */
.role-rule-desc .spLightBlueTable {
  table-layout: fixed;
}

.role-rule-desc .spLightBlueTable td {
  word-wrap: break-word;
}

.role-rule-desc .spBlueTable {
  table-layout: fixed;
}

.role-rule-desc .spBlueTable td {
  word-wrap: break-word;
}
