/***************************************
/** Certification styles
/**************************************/

/** Violation Remediation Dialog **/
#roleSODPanel table {
  margin-bottom: 15px;
}

.roleSODPanel_remediation_table{
  height:250px;
  overflow:auto;
}

.sod-revoke-note {
  padding-left: 20px !important;
  background: url("../../../../../images/icons/info.png") no-repeat 0 0;
  margin: 10px 0;
}

.dialogItem span {
  float: left;
  display: block;
  width: 70%;
  margin-left: 10px;
}

.dialogItem {
  padding-bottom: 10px;
}

.dialogItem label {
  font-weight: bold;
  float: left;
  display: block;
  width: 25%;
}

/** END Violation Remediation Dialog **/

/** Delegation revocation dialog message */
#delegationRevocationMsg p {
  padding-left: 45px;
}

/* Display info in certification dialogs */
.informationPanel {
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

/* ChallengeDialog.js */
.challengerComments {
  margin-top: 10px;
}

.challengerCommentsField {
  padding: 3px !important;
}

/** Comments on detail page **/
a.comments {
  padding: 0 0 0 5px;
  height: 16px;
  width: 16px;
  background-image: url("../../../../../images/icons/comments.png") !important;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
}

.cancelButton {
  background: url(../../../../../images/icons/cancel.png) no-repeat center left !important;
}

.saveButton {
  background: url(../../../../../images/icons/accept.png) no-repeat center left !important;
}

.backButton {
  background: url(../../../../../images/icons/arrow_left.png) no-repeat center left !important;
}

.roleButton {
  background: url(../../../../../images/icons/modeler_function_16.png) no-repeat center left !important;
}

/** Certification Detail Page Bulk Buttons - detailViewInclude.xhtml **/

.certDetailBulkButtons {
  margin: 15px 0 5px 0;
  list-style: none;
  padding: 0;
}

.certDetailBulkButtons li {
  list-style: none;
  display: inline;
  height: 22px;
  cursor: pointer;
}

.certDetailBulkButtons li.disabled {
  background: #cccccc url('../../../../../images/gradients/lightGray2.png') repeat-x !important;
}

.certDetailBulkBtn {
  /*float:left;    */
  margin: 0 10px 0 0;
  padding: 3px;
}

.certDetailBulkBtnText {
  padding: 0 0 0 24px;
  line-height: 22px;
  height: 22px;
  display: inline-block;
}

.buttonLinkGreen, .buttonLinkRed, .buttonLinkDisabled, .buttonLink {
  color: #333333;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  background: #fff;
  border: 1px #fff solid;
  padding: 1px 2px;
}

.buttonLink, .buttonLinkGreen, .buttonLinkRed, .buttonLinkDisabled {
  font-weight: bold;
  background: #cfdcec url('../../../../../images/gradients/lightBlue.png') repeat-x;
  border: 1px #CCCCCC solid;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonLink img {
  margin-left: 3px;
}

.buttonLinkGreen:hover, .buttonLinkRed:hover, .buttonLink:hover, .buttonLink:hover {
  background: #cfdcec url('../../../../../images/gradients/mediumOrange.png') repeat-x;
  text-decoration: none;
}

.buttonLinkGreen {
  background: #cde9c5 url('../../../../../images/gradients/lightGreenReversed.png') repeat-x;
}

.buttonLinkRed {
  background: #e9c7c6 url('../../../../../images/gradients/lightRedReverse.png') repeat-x;
}

.buttonLinkDisabled {
  background: #cccccc url('../../../../../images/gradients/lightGray2.png') repeat-x;
}

.approveButton {
  background: url(../../../../../images/icons/approve.gif) no-repeat center left;
}

.disabled .approveButton {
  background: url(../../../../../images/icons/approveDisabled.gif) no-repeat center left;
}

.revokeButton {
  background: url(../../../../../images/icons/revoke.gif) no-repeat center left;
}

.disabled .revokeButton {
  background: url(../../../../../images/icons/revokeDisabled.gif) no-repeat center left;
}

.revokeAccountButton {
  background: url(../../../../../images/icons/revokeAccount.gif) no-repeat center left;
}

.disabled .revokeAccountButton {
  background: url(../../../../../images/icons/revokeAccountDisabled.gif) no-repeat center left;
}

.delegateButton {
  background: url(../../../../../images/icons/delegate.gif) no-repeat center left;
}

.disabled .delegateButton {
  background: url(../../../../../images/icons/delegateDisabled.gif) no-repeat center left;
}

.undoButton {
  background: url(../../../../../images/icons/undo.png) no-repeat center left;
}

.disabled .undoButton {
  background: url(../../../../../images/icons/undoDisabled.png) no-repeat center left;
}

/*END Certification Detail Page Bulk Buttons*/

/** Decision History widgets on detail view under the decision buttons **/
.decisionHistoryNote {
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
  white-space: normal !important;
  padding-left: 18px;
  clear: both;
}

.delegationReview {
  background: url(../../../../../images/icons/diamond_warning_yellow_16.gif) no-repeat top left;
}

.challengeExpired {
  background: url(../../../../../images/icons/diamond_warning_yellow_16.gif) no-repeat top left;
}

.challenge {
  background: url(../../../../../images/icons/diamond_warning_yellow_16.gif) no-repeat top left;
}

.returnedDelegation {
  background: url(../../../../../images/icons/diamond_warning_red_16.gif) no-repeat top left;
}

.unremovedRemediation {
  background: url(../../../../../images/icons/diamond_warning_red_16.gif) no-repeat top left;
}

.unprovisionedAddRequest {
  background: url(../../../../../images/icons/info.png) no-repeat top left;
}

.currentMitigation {
  background: url(../../../../../images/icons/diamond_warning_yellow_16.gif) no-repeat top left;
}

.expiredMitigation {
  background: url(../../../../../images/icons/diamond_warning_red_16.gif) no-repeat top left;
}

.relatedViolations {
  background: url(../../../../../images/icons/diamond_warning_yellow_16.gif) no-repeat top left;
}

/* END Decision history widgets*/

/** Cert loading message */
.loading {
  background: url(../../../../../images/progress.gif) no-repeat center left;
  padding-left: 20px;
}

/** Certification item menu (CertificationItemMenu.js) **/
.certItemMenu {
  cursor: pointer;
  height: 21px;
  width: 21px;
  background: url(../../../../../images/icons/certif_openmenu_enabled_16.png) no-repeat center center;
}

.certItemMenu.menuDisabled {
  cursor: default;
  background: url(../../../../../images/icons/certif_openmenu_disabled_16.png) no-repeat center center;
}

.addCommentBtn {
  background-image:url(../../../../../images/icons/comments_add.png) !important; 
}

.viewCommentBtn {
  background-image:url(../../../../../images/icons/comments.png) !important; 
}

.viewHistoryBtn {
  background-image:url(../../../../../images/icons/page_copy.png) !important; 
}

.handleChallengeBtn {
  background-image:url(../../../../../images/icons/page_error.png) !important; 
}


/** END Certification item menu **/

/* Account status icons displayed next to accounts on certification detail page */
.certificationAccountIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0 7px 0 7px;
}

/* App detail expando */
.detailTable div {
  margin-bottom: 5px;
}

.detailTable label {
  font-weight: bold;
}

/* Style used for action divs in CellActionPlugin.js */
.x-grid-action {
  float: left;
}

/* Certification expiration indicator styles */
.detailsWarnDiv table, .detailsDiv table, .detailsCritDiv table {
  width: 100%;
}

.detailsWarnDiv th, .detailsDiv th, .detailsCritDiv th {
  border-bottom: 1px solid #ccc;
  line-height: 10pt;
}

.detailsWarnDiv td, .detailsDiv td, .detailsCritDiv td {
  line-height: 10pt;
}

.detailsDiv tr, .detailsCritDiv tr, .detailsWarnDiv tr {
  background-color: white;
}

.detailsWarnDiv th {
  background: #fff335 url('../../../../../images/gradients/lightYellow.png') repeat-x;
  color: #8b9000;
}

.detailsCritDiv th {
  background: #ffcfcf url('../../../../../images/gradients/lightRed.png') repeat-x;
  color: #990000;
}

.detailsDiv th {
  background: #d9ecc2 url('../../../../../images/gradients/spLightGreen.png') repeat-x;
  color: #000;
}

/*END Certification expiration styles */

/* Certification Item Description Divs */
div.certificationItemDescriptionBundle {
  background: url(../../../../../images/icons/modeler_function_16.png) center left no-repeat;
  padding-left: 18px;
}

div.certificationItemDescriptionException {
  background: url(../../../../../images/icons/modeler_profile_16.png) center left no-repeat;
  padding-left: 18px;
}

div.certificationItemDescriptionAccount {
  background: url(../../../../../images/icons/modeler_profile_16.png) center left no-repeat;
  padding-left: 18px;
}

div.certificationItemDescriptionPolicyViolation {
  background: url(../../../../../images/icons/policy_violation_16.png) center left no-repeat;
  padding-left: 18px;
}

/*END Certification Item Description divs */

/* Highlight new entitlement rows in cert detail view */
.newEntitlementRow {
  font-weight: bold;
  background-color: #EEEEEE;
  white-space: normal;
}

.newEntitlementRow select, .newEntitlementRow label {
  font-weight: normal;
}

.newEntitlementRow td {
  font-weight: bold !important;
}

/* Renderer for comments */
.commentBox {
  padding-left: 20px;
  height: 16px;
  background-image: url("../../../../../images/icons/comments.png");
  background-repeat: no-repeat;
  border: none;
}

/* Detail view Identity Status */
.certificationIdentityStatusDiv {
  border: 1px solid #DDDDDD;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #FFF1D7;
}

.certificationIdentityStatusDiv img {
  vertical-align: middle;
}

/* daysRemaining.xhtml */
.overdueTxt {
  font-size: 0.8em;
  font-weight: bold;
  color: red;
}

.dueTodayTxt {
  font-size: 0.8em;
  font-weight: bold;
  color: red;
}

.beforeDueTxt {
  font-size: 0.8em;
  font-weight: bold;
}

/* Certification help Legend (msgs.startup_help_certification_entity_view_content) */
.approveIconLegend,
.approveAccountIconLegend,
.revokeIconLegend,
.revokeAccountIconLegend,
.mitigateIconLegend,
.delegateIconLegend {
  padding-left: 22px;
  background-repeat: no-repeat;
  display: block;
}

.approveIconLegend {
  background-image: url(../../../../../images/icons/approve.gif);
  height: 20px;
}

.approveAccountIconLegend {
  background-image: url(../../../../../images/icons/approveAccount.png);
}

.revokeIconLegend {
  background-image: url(../../../../../images/icons/revoke.gif);
}

.revokeAccountIconLegend {
  background-image: url(../../../../../images/icons/revokeAccount.gif);
}

.mitigateIconLegend {
  background-image: url(../../../../../images/icons/mitigate.gif);
}

.delegateIconLegend {
  background-image: url(../../../../../images/icons/delegate.gif);
}

/*END Certification help Legend */

/* Action Radios */
.AccountReassignRadio {
  background: url("../../../../../images/reassignRadio.png") no-repeat 0 0;
}

.ApprovedRadio {
  background: url("../../../../../images/approveRadio.png") no-repeat 0 0;
}

.MitigatedRadio {
  background: url("../../../../../images/mitigateRadio.png") no-repeat 0 0;
}

.DelegatedRadio {
  background: url("../../../../../images/delegateRadio.png") no-repeat 0 0;
}

.ApproveAccountRadio {
  background: url("../../../../../images/approveAccountRadio.png") no-repeat 0 0;
}

.RemediatedRadio {
  background: url("../../../../../images/revokeRadio.png") no-repeat 0 0;
}

.RevokeAccountRadio {
  background: url("../../../../../images/revokeAccountRadio.png") no-repeat 0 0;
}

/*END Action Radios */

.bigCertificationSignOffButton {
  width: 169px;
  height: 35px;
  font-size: 18px !important;
}

/* Part of a hack to separate accounts in entitlements on detail view 
(see BaseCertificationGrid.renderAccount) */
.lastAdditionalEntitlement > td {
  border-bottom: 1px dashed #999999 !important;
}

/* Certification summary, continuous certification info */
.continuousStateCertified {
  background: url(../../../../../images/icons/continuousState_green.png) center left no-repeat;
  padding-left: 65px;
}

.continuousStateCertifiedText {
  background: #009345;
  white-space: nowrap;
}

.continuousStateCertificationRequired {
  background: url(../../../../../images/icons/continuousState_yellow.png) center left no-repeat;
  padding-left: 65px;
}

.continuousStateCertificationRequiredText {
  background: #fdbe56;
  white-space: nowrap;
}

.continuousStateOverdue {
  background: url(../../../../../images/icons/continuousState_red.png) center left no-repeat;
  padding-left: 65px;
}

.continuousStateOverdueText {
  background: #ec2425;
  white-space: nowrap;
}

/*Container for continuous cert info */
div.tenPxBox {
  width: 10px;
  height: 10px;
  overflow: hidden; /* Needed by ie6 to make the color stay in the box vertically */
}

/*END Certification summary continuous info */

/* Decision History column remediation comments */
.subscript {
  font-size: 0.8em;
  color: gray;
}