/***************************************
/** Tasks styles
/**************************************/

.executeNowBtn {
  background-image: url(../../../../../images/icons/cog_go.png) !important;
}

.scheduleBtn {
  background-image: url(../../../../../images/icons/clock.png) !important;
}

.terminateBtn {
  background-image: url(../../../../../images/icons/cancel.png) !important;
}

/* edit task page argument table needs some borders */
/* use adjacent sibling selector to not include the first header row. IE8+ all other browsers */
#argumentTbl tr + tr,
.argumentTbl tr + tr {
  border-top: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

/* Title column of argument table */
.argumentTbl > tbody > tr > td:first-child {
  padding-top: 8px !important;
  width: 50%;
  vertical-align: top;
}

/* Help column of argument table, if applicable */
.argumentTbl.argumentTblWithHelp > tbody > tr > td:first-child + td {
  padding-top: 10px !important;
  width: 1%;
  vertical-align: top;
}

/* Option/value column of argument table */
.argumentTbl.argumentTblNoHelp > tbody > tr > td:first-child + td,
.argumentTbl.argumentTblWithHelp  > tbody > tr > td:first-child + td + td {
  width: 50%;
}

.task-sub-option {
    margin-left: 50px;
}
