/*******************************
 * Identity Mappings Config
 *******************************/
.selectionBox {
  border: 1px solid #CCCCCC;
  padding: 0;
  width: 375px;
}

.borderlessSelectionBox {
  padding: 0;
  width: 375px;
}

.selectedSourceMapping {
  border-color: #dfdfdf;
  background-color: #f1f1f1
}

/*******************************
 * Scopes
 *******************************/
.scopeNode, .scopeNodeDormant {
  background-image: url(../../../../images/icons/chart_organisation.png) !important;
}


/*******************************
 * LCM Config
 *******************************/
 .lcmEditorStatusBar {
  margin-top: 10px;
  padding-left: 0 !important;
 }
 
/*******************************
 * Login Config
 *******************************/
.firstColumn {
  width: 5%;
  white-space: nowrap;
}
 
.middleColumn {
  width: 1%;
}
 
.x-form-item-label {
  font-weight: normal;
}
 
.smallText {
  margin-left: 20px; 
  font-size: 0.8em; 
  height: 1.4em;
}
 
 /** This is here temporarily to limit the effect of changing HTML input heights to just the login configuration page. 
     something similar exists in css/sailpoint/web/analyze/search.css                                                 **/
#configForm input[type=text] {
  height: 30px !important;
  line-height: 26px;
  vertical-align: middle !important;
  border: 1px solid #b5b8c8;
}

.expandedTextArea {
  width : 600px !important;
  height : 230px;
}

.wideInput {
  width: 250px;
}

.disabled {
    color: #999;
}
