/*******************************
/** CertificationStatusor.js
/******************************/

.statusor {
  width:230px;
  overflow:hidden;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  background: #FAF0E6;
  border: 1px solid #FF0033;
  padding:5px;
  color: #FF0033;
}

.statusor.saving {
  background: #ecfbff;
  border: 1px solid #188fc2;
  color: #188fc2;
}

.statusor.saved {
  background: #eff6f7;
  border: 1px solid #59812a;
  color: #59812a;
}

.statusor .status_icon {
  float:left;
  vertical-align:middle;
}

.statusor .status_txt {
  float:left;
  width:190px;
  margin-left:5px;
}
