/*******************************
/** ImageRadio.js
/** Image radio button styles.  See the ImageRadio javascript class for
/** more information about how this is used.
/******************************/

.imageRadio {
  height: 21px;
  padding: 0 0 0 23px;
  cursor: pointer;
}

/* The actual radio button is hidden b/c we're showing an image. */
.imageRadio input {
  display: none;
}

/* radio is selected */
.selected {
  background-position: 0 -50px !important;
}

/* radio is disabled and unselected */
.disabled {
  background-position: 0 -100px !important;
  cursor: default;
}

/* radio is disabled and selected */
.disabledSelected {
  background-position: 0 -125px !important;
  cursor: default;
}
