.menuBtnClass {
  height: 35px;
  font-size: 17px;
  margin-top: 7px; /* With highlight padding gives 12 offset which matches header */
  /* Icon white space makes equal padding look off center */
  padding-left: 5px;
  padding-right: 10px;
}

.x-btn-whtArrowClass-right {
  background: transparent no-repeat right center;
  /* icon is 14px wide */
  padding-right: 20px;
}

.x-btn-whtArrowClass {
  background-image: url('../../../scripts/ext-4.1.0/resources/images/form/WhtArrowDown.png');
  display: block;
}
