/*******************************
/** PagingTreeNode.js
/******************************/

.pageUpNodeIcon {
  background-image: url("../../../images/sort_asc.gif") !important;
  background-repeat: no-repeat;
}

.pageDownNodeIcon {
  background-image: url("../../../images/sort_desc.gif") !important;
  background-repeat: no-repeat;
}
