/*********************************
/** RuleEditor.js
/********************************/

/* Lots of border stuff here, many components and don't 
want it to look too busy */
.ruleEditorPanel, .ruleEditorTypePanel {
  border-width: 0 0 1px 0 !important;
}

.ruleEditorTypePanel {
  padding: 4px;
}

/* Text fields*/
.ruleEditorField, .ruleEditorSourceCodeField {
  border-width: 1px 0 0 0 !important;
  /* Make IE8/IE10 fill the panel with the text fields */
  /* IE8 bug: we must specifically call out the min/max of the width to get the scrolling to work correctly*/
  min-width: 100% !important;
  max-width: 100% !important;
  padding-right: 0 !important;
}

.ruleEditorSourceCodeField {
  border-bottom-width: 1px !important;
}

.ruleEditorArgumentsGrid {
  border-width: 0 !important;
}

.ruleCodePanel, #ruleCodePanel .x-panel-header {
  border-width: 0 1px 0 0;
}

.ruleMeta, #ruleMeta .x-panel-header {
  border-width: 0 0 0 1px;
}

.ruleEditorDisabled {
  color: #333333;
  border: none;
}

/*Headers*/
#ruleMeta .x-toolbar-text, #descriptionPanel .x-toolbar-text {
  font-weight: bold;
  font-size: 14px;
  left: 0 !important;
}

#sourceCodeToolbar .x-toolbar-text {
  font-size: 12px;
}

#ruleMeta .x-toolbar, #sourceCodeToolbar.x-toolbar, #descriptionPanel .x-toolbar {
  border-width: 0;
  padding-left: 2px !important;
}
/*END Headers*/

button.ruleEditorErrorMsg {
  background: url(../../../images/icons/dialogue_error_16.png) no-repeat !important;
  color: #ff0000 !important;
}

#ruleErrorMsg {
  color: red;  
}


