/* Wizard Styles */
.wizardStepList {
  list-style: decimal inside !important;
}

.wizardStep {
  cursor: pointer;
}

.wizardStep:hover {
  font-weight: bold;
  color: #037da1;
}

.wizardStepSelected {
  font-weight: bold;
}