/***************************************
/** Advanced Analytics search styles
/**************************************/

/* Saved Search styles */
.savedSearch {
  background-color: #EEE;
  border: 1px #ccc solid;
  padding: 4px 7px 4px 7px;
  margin: 4px 10px 4px 10px;
}

.savedSearch, .loadedSavedSearch {
  border: 1px #ccc dashed;
  font-weight: bold;
  cursor: pointer;
  color: #1A7182;
  padding: 3px;
  margin: 7px;
  background: #ffffff;
  white-space: nowrap;
  float: left;
}

.loadedSavedSearch, .loadedSearchItem {
  background: url('../../../../images/gradients/lightYellow.png') repeat-x;
}

.loadedReportItem {
  background: url('../../../../images/gradients/lightTeal.png') repeat-x;
}
/*END Saved Search styles */


/* Account Group Search styles */
.viewIdentitiesBtn {
  background-image: url(../../../../images/icons/group.png) !important; 
}
/*END Account Group Search styles */

/* Identity search panel toolbar */
.identitySearchToolbar {
  border-bottom: 1px solid #cccccc !important;
}

/* Common field size for search inputs */
.searchInputSelect {
  width: 200px;
}

/** This is here temporarily to limit the effect of changing HTML input heights to just the search pages **/
input[type=text],
.tomahawkInputDate {
  height: 30px !important;
  line-height: 26px;
  vertical-align: middle !important;
  border: 1px solid #b5b8c8;
}

input.tomahawkInputDate {
  width: 40px;
}

select {
  height: 30px;
  width: 200px;
  padding: 5px;
  border: 1px solid #b5b8c8;
}

select[multiple=multiple] {
  height: 100% !important;
}

.styledSelect select {
  background: transparent;
  height: 30px;
  width: 223px;
  padding: 5px 5px 5px 0 !important;
  line-height: 1;
  border: 0 !important;
  border-radius: 0;
  -webkit-appearance: none;
}

.styledSelect {
  height: 30px;
  width: 200px;
  overflow: hidden;
  border-top: 1px solid #b5b8c8;
  border-bottom: 1px solid #b5b8c8;
  border-left: 1px solid #b5b8c8;
  position: relative;
}

/* Smaller version of styled selects */
.styledSelect.smallSelect select {
  width: 143px !important;
}

.styledSelect.smallSelect {
  width: 120px;
  border-left: none !important;
  border-right: none !important;
}

.smallSelect .styledTrigger {
  border-right: none !important;
}

.styledSmallSelect {
  width: 120px;
}

.styledTrigger {
  background-image: none;
  background: #fafafa;
  background-image: url("../../../../scripts/ext-4.1.0/resources/images/form/BlkArrowDown.png"); /* fallback */
  background-image: url("../../../../scripts/ext-4.1.0/resources/images/form/BlkArrowDown.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); /* Saf4+, Chrome */
  background-image: url("../../../../scripts/ext-4.1.0/resources/images/form/BlkArrowDown.png"), -webkit-linear-gradient(top, #ffffff, #eeeeee); /* Chrome 10+, Saf5.1+ */
  background-image: url("../../../../scripts/ext-4.1.0/resources/images/form/BlkArrowDown.png"), -moz-linear-gradient(top, #ffffff, #eeeeee); /* FF3.6+ */
  background-image: url("../../../../scripts/ext-4.1.0/resources/images/form/BlkArrowDown.png"), -ms-linear-gradient(top, #ffffff, #eeeeee); /* IE10 */
  background-image: url("../../../../scripts/ext-4.1.0/resources/images/form/BlkArrowDown.png"), linear-gradient(top, #ffffff, #eeeeee); /* W3C */
  background-position: 4px 0 !important;
  border-left: 1px solid #b5b8c8;
  border-right: 1px solid #b5b8c8;
  height: 30px;
  width: 36px;
  right: 0;
  position: absolute;
  pointer-events: none;
}

/* make the calendar popup button tall to match the new input styles */
input[onclick*="_popUpCalendarForInputDate"][type="button"] {
  height: 30px !important;
}

/* For tables pairing select/text input, remove left padding on first cell */
.searchInputPairTable td:first-child {
  padding-left: 0 !important;
}