/***************************************
/** Batch Request styles
/**************************************/

/*Batch request details */
.leftTitle {
  text-align: left;
  font-weight: bold;
  width: 20%;
}

.leftData {
  text-align: left;
  width: 20%;
}