/* These classes exist solely for the iOS modal hack (see iOSModalDirective.js for details) 
   This file should be removed if the bug is fixed and hack is removed */
.modal-ios {
  position: absolute;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  transform: translate3d(0px,10px,0px);
  -webkit-transform: translate3d(0px,10px,0px);
}

.modal-backdrop-ios {
  position: absolute;
}
