@media only screen and (max-width: 767px) {
  
  /* override bootstrap table-responsive scroll */
  .table-responsive{
    overflow:hidden !important;
  }
  
  /* Force table to not be like tables anymore */
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr,
  .table-responsive td[class*="col-"],
  .table-responsive th[class*="col-"] {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .table-responsive td,
  .table-responsive td[class*="col-"],
  .table-responsive th[class*="col-"] {
    /* Behave like a "row" */
    /* had to use !important to override bootstrap's css for table-responsive */
    border: none !important;
    position: relative;
    float: none;
    /* had to use !important to override bootstrap's css for table-responsive */
    padding-left: 35% !important;
    white-space: normal !important;
    text-align:left;
    word-wrap: break-word;
  }

  /* Give each row a border to visually separate. */
  .table-responsive tr {
    /* Using the @panel-border value here. */
    border: 1px solid #ebeff6;
    margin-bottom: 15px;
  }

  /* When displayed inside a tab, we should allow for extra margin around the content */
  .tab-pane div.table-responsive tr {
    margin: 8px;
  }

  /* The single-row class is used on the approvals page to counteract the changes needed for the table to look
     right within a dialog. */
  .table-responsive tr.single-row {
    border: 0px solid #ebeff6;
    margin-bottom: 0px;
  }

  /* Don't add a top border on the first row since the container usually adds this. */
  .table-responsive tr.single-row:first-child {
    border-top: none;
  }

  .table-responsive td:before {
    /* Now like a table header */
    position: absolute;
    /* left value to mimic padding */
    left: 6px;
    width: 30%;
    white-space: normal;
    text-align:left;
    font-weight: bold;
  }
   
  /*
  Label the data
  */
  .table-responsive td:before {
    content: attr(data-title);
  }
  
  /*
  .wide-title class for responsive tables with longer column titles
  */
  .table-responsive.table-responsive-wide-title td:before {
    width: 40%;
  }

  .table-responsive.table-responsive-wide-title td,
  .table-responsive.table-responsive-wide-title td[class*="col-"],
  .table-responsive.table-responsive-wide-title th[class*="col-"] {
    /* had to use !important to override bootstrap's css for table-responsive */
    padding-left: 45% !important;
  }

  .table-responsive.table-responsive-wide-title td.description-text {
    /* had to use !important to override bootstrap's css for table-responsive */
    padding-left: 6px !important;
  }

  .table-responsive.table-responsive-wide-title td.description-text div.collapse {
    margin-left: 8px;
  }

  .table-responsive.table-responsive-wide-title td.description-text span.text-description {
    padding-left: 45%;
  }

  .table-responsive.table-responsive-wide-title td.description-text div.description-text {
    padding: 6px;
  }

  .table-responsive.table-no-border {
    border: none;
  }

  .tab-pane .table-responsive {
    /* Using the @panel-border value here. */
    border: 1px solid #ebeff6;
  }
}
