.Bulleted > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Bulleted > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletLevel1 > span.WebWorks_Number
{
  text-indent: -10.8pt;
}

.BulletLevel1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletLevel2 > span.WebWorks_Number
{
  text-indent: -10.799999999999997pt;
}

.BulletLevel2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletLevel3 > span.WebWorks_Number
{
  text-indent: -10.799999999999997pt;
}

.BulletLevel3 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletLevel4 > span.WebWorks_Number
{
  text-indent: -8.64pt;
}

.BulletLevel4 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletLevelNone > span.WebWorks_Number
{
  text-indent: -10.8pt;
}

.BulletLevelNone > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Caution > span.WebWorks_Number
{
  text-indent: -50.4pt;
}

.Caution > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Footnote > span.WebWorks_Number
{
  text-indent: -12.000240000000001pt;
}

.Footnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note1 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note2 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note3 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note3 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Note4 > span.WebWorks_Number
{
  text-indent: -36pt;
}

.Note4 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.numberedA > span.WebWorks_Number
{
  text-indent: -18pt;
}

.numberedA > span.WebWorks_Number > *
{
  text-indent: 0;
}

.numberedAlpha > span.WebWorks_Number
{
  text-indent: -18pt;
}

.numberedAlpha > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TableFootnote > span.WebWorks_Number
{
  text-indent: -12.000240000000001pt;
}

.TableFootnote > span.WebWorks_Number > *
{
  text-indent: 0;
}

.TM_copyright > span.WebWorks_Number
{
  text-indent: -18.72pt;
}

.TM_copyright > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Warning > span.WebWorks_Number
{
  text-indent: -54pt;
}

.Warning > span.WebWorks_Number > *
{
  text-indent: 0;
}

