/***************************************
/** Pager styles - see web/include/pager.xhtml
/**************************************/

table.pagerTable {
  margin: 0 0;
}

table.pagerTable th {
  padding: 0;
}

table.pagerTable th.pagerPage {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  padding: 0 8px 0 3px;
  background-image: none !important;
  background-color: #fbfbfb;
}

.pagerGotoPageText {
  width: 30px;
}

.pagerBtn {
  cursor: pointer;
  height: 26px;
  width: 26px;
  padding: 0;
}

.pagerBtnDisabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}

.pagerBtnPrev {
  background-image: url("../../../../images/icons/BlkArrowLeft.png");
}

.pagerBtnNext {
  background-image: url("../../../../images/icons/BlkArrowRight.png");
}
