// Unless you want to include all components, you must set $include-default to false
$theme-name: iiq-extjs;
$include-default: false;
$include-missing-images: true;
$include-not-found-images: true;

// ===============================
// ========= COLORS ==============
// ===============================
$slpt-color-white: #ffffff;
$slpt-color-black: #333333;
$slpt-color-gray1: #cccccc;
$slpt-color-gray2: #dadada;
$slpt-color-gray3: #f0f0f0;
$slpt-color-gray4: #ededed;
$slpt-color-gray5: #d0d0d0;
$slpt-color-gray6: #fafafa;
$slpt-color-gray7: #E8E8E8;
$slpt-color-blue1: #037da1;

// ===============================
// ========= COMMON ==============
// ===============================
// Insert your custom variables here.

$color: $slpt-color-black !default;
$base-color: $slpt-color-gray2 !default;
$neutral-color: $slpt-color-gray3 !default;
$font-family: Arial, sans-serif !default;
$font-size: 12px !default;
$background-direction: bottom;

// We don't support opera, so save some space
// in the output by setting this to false.
$include-opera: false !default;

// Turn this off to avoid using background images in IE < 9
$compile-all: false !default;


// ===============================
// ========= PANELS ==============
// ===============================
$panel-header-border-color: $slpt-color-gray1;
$panel-header-inner-border-color: $slpt-color-gray1 !default;
$panel-body-border-color: $slpt-color-gray1;
$panel-header-color: $slpt-color-black !default;
$panel-body-color: $slpt-color-black !default;
$panel-header-background-color: $slpt-color-gray2;
$panel-header-background-gradient: color_stops($slpt-color-white, $slpt-color-gray2) !default;
$panel-header-line-height: 24px !default;
$panel-header-padding: 5px !default;


// ===============================
// ========= FIELDS ==============
// ===============================
$form-field-color: $slpt-color-black !default;
$form-field-background-image: false !default;
$form-field-height: 30px !default;
$form-toolbar-field-height: 30px !default;
$form-trigger-width: 35px;


// ===============================
// ========= GRIDS ===========
// ===============================
$grid-base-color: $slpt-color-gray2 !default;
$grid-header-background-color: $slpt-color-gray3 !default;
$grid-header-background-gradient: color_stops($slpt-color-white, $slpt-color-gray4) !default;
$grid-header-over-background-gradient: color_stops($slpt-color-white, $slpt-color-gray4) !default;
$grid-header-over-background-color: lighten($grid-header-background-color, 9%) !default;
$grid-header-border-color: $slpt-color-gray1 !default;
$grid-header-color: #666666 !default;
$grid-header-line-height: 22px !default;

// grid rows
$grid-row-cell-font-size: 12px !default;
$grid-row-cell-line-height: 25px !default;

//standard cell padding + 2px
$grid-cell-inner-padding-top: 4px !default;
$grid-cell-inner-padding-horizontal: 8px !default;
$grid-cell-inner-padding-bottom: 5px !default;


// ===============================
// ========= TABS ================
// ===============================
$tab-height: 35px !default;
$tab-spacing: 0 !default;
$tab-font-size: 15px !default;

$tab-inner-border: false !default;
$tab-top-border-radius: 2px 2px 0 0 !default;
$tab-bottom-border-width: 0 0 0 0 !default;

$tab-color: $slpt-color-gray3;
$tab-base-color: $slpt-color-gray3;
$tab-base-color-active: $slpt-color-white !default;
$tab-color-active: $slpt-color-blue1 !default;
$tab-border-color: $slpt-color-gray1 !default;

//tabbar color
$tabbar-base-color: $slpt-color-white !default;
$tabbar-background-gradient: null !default;

$tabbar-strip-background-color: $slpt-color-white !default;
$tabbar-bottom-strip-border-width: 0 1px 0 !default;


// ===============================
// ========= BUTTONS =============
// ===============================
$button-small-border-radius: 2px !default;
$button-medium-border-radius: 2px !default;
$button-large-border-radius: 2px !default;

$button-small-font-size: 12px !default;
$button-medium-font-size: 12px !default;

$button-small-font-weight: bold !default;

$button-small-padding: 5px 10px 5px 10px !default;
$button-medium-padding: 2px 10px 2px 10px !default;

//base colors for the default button
$button-default-color: $slpt-color-white !default;
$button-default-color-disabled: $slpt-color-black !default;

$button-default-base-color: $slpt-color-blue1 !default;
$button-default-base-color-over: adjust-color($button-default-base-color, $hue: -0.857deg, $saturation: -1.63%, $lightness: 3.529%) !default;
$button-default-base-color-focus: $button-default-base-color-over !default;
$button-default-base-color-pressed: $button-default-base-color !default;
$button-default-base-color-disabled: $slpt-color-gray7 !default;

$button-default-border-color: #00799d !default;
$button-default-border-color-over: $button-default-border-color !default;
$button-default-border-color-focus: $button-default-border-color-over !default;
$button-default-border-color-pressed: $button-default-border-color !default;
$button-default-border-color-disabled: transparent !default;

$button-default-background-color: $slpt-color-blue1 !default;

$button-default-background-gradient: color_stops(#0097c4, $slpt-color-blue1) !default;
$button-default-background-gradient-over: none !default;
$button-default-background-gradient-pressed: none !default;
$button-default-background-gradient-focus: color_stops(#0097c4, $slpt-color-blue1) !default;
$button-default-background-gradient-disabled: none !default;

// Toolbar buttons
$button-toolbar-color: #037da1 !default;
$button-toolbar-color-disabled: $slpt-color-black !default;
$button-medium-font-weight: bold !default;

$button-toolbar-background-color: $slpt-color-gray3 !default;
$button-toolbar-background-color-over: adjust-color($button-toolbar-background-color, $hue: -0.857deg, $saturation: -1.63%, $lightness: 4.5%) !default;
$button-toolbar-background-color-focus: $button-toolbar-background-color-over;
$button-toolbar-background-color-pressed: $button-toolbar-background-color !default;
$button-toolbar-background-color-disabled: transparent !default;

$button-toolbar-background-gradient: matte !default;
$button-toolbar-background-gradient-over: none !default;
$button-toolbar-background-gradient-pressed: none !default;
$button-toolbar-background-gradient-focus: none !default;
$button-toolbar-background-gradient-disabled: none !default;

$button-toolbar-border-color: $slpt-color-gray1 !default;
$button-toolbar-border-color-over: $button-toolbar-border-color !default;
$button-toolbar-border-color-focus: $button-toolbar-border-color-over;
$button-toolbar-border-color-pressed: $button-toolbar-border-color !default;
$button-toolbar-border-color-disabled: transparent !default;


// ===============================
// ========= TOOLBARS ============
// ===============================
$toolbar-inner-border-color: $slpt-color-gray1;
$toolbar-background-color: $slpt-color-white;

//spacer
$toolbar-spacer-width: 15px !default;
$toolbar-separator-color: $slpt-color-blue1 !default;


// ===============================
// ========= WINDOWS =============
// ===============================
$window-base-color: $slpt-color-gray3;
$window-border-color: $slpt-color-gray1;
$window-header-color: $slpt-color-black;
$window-background-color: $slpt-color-white;


// ===============================
// ========= PICKERS =============
// ===============================
$datepicker-th-background-color: $slpt-color-gray3 !default;
$datepicker-header-background-color: darken($datepicker-th-background-color, 20) !default;
$datepicker-item-hover-background-color: adjust-color($slpt-color-blue1, $hue: 0deg, $saturation: -30%, $lightness: 50%) !default;
$datepicker-footer-background-gradient: none !default;

$datepicker-next-image: 'shared/CalendarRight.png' !default;
$datepicker-prev-image: 'shared/CalendarLeft.png' !default;


// ===============================
// ========= MISC ================
// ===============================
// Quick Tips
$tip-background-color: $slpt-color-gray3;
$tip-header-font-size: $font-size;
$tip-body-font-size: $font-size;

$accordion-header-background-color: $slpt-color-gray2;
$accordion-header-background-gradient: color_stops($slpt-color-white, $slpt-color-gray2) !default;

$menu-item-active-border-color: adjust-color($slpt-color-gray6, $saturation: 10%, $lightness: 10%) !default;
$menu-item-active-background-color: adjust-color($slpt-color-gray6, $saturation: 10%, $lightness: 10%) !default;


// ===============================
// ========= CLOUD STUFF =========
// ===============================
$slpt-trigger-image-url: 'form/BlkArrowDown.png';
$slpt-trigger-image-offset: 4px 0;

$slpt-search-trigger-image-url: 'form/SearchBlk.png';
$slpt-search-trigger-image-offset: 4px 1px;

$slpt-clear-trigger-image-url: 'form/BlkDeleteX.png';
$slpt-clear-trigger-image-offset: 4px 0;

$slpt-calendar-trigger-image-url: 'form/CalendarIcon.png';
$slpt-calendar-trigger-image-offset: 4px 2px;

$slpt-border-width: 1px;
$slpt-border-radius: 2px;
$slpt-color-border-light: #bbbbbb;
$slpt-color-background-light: $slpt-color-gray6;
$slpt-color-gradient-light: $slpt-color-white #eeeeee;


@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true
