/******************************************
/** base.css - this will be the main css file for general purpose 
/** or multi-use classes. All classes should be located in the 
/** appropriate section and commented for usage if not obvious.
/******************************************

/******************************************
** GLOBAL (appPage.xhtml, etc)
******************************************/

/* Hide focus borders everywhere */
* {
  outline: none;
}

/* Set font weights normal for all selects */
select, option {
  font-weight: normal !important;
}

/* Main table, fill the height */
#appTable {
  height: 100%;
}

/* Set background white globally to start*/
.bodyDiv, #bodyTitleTd, #bodyContentTd, #bodyBottomTd {
  background-color: #FFFFFF;
}

.roundedBottom {
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Set a margin from edge to content */
.bodyDivContent {
  margin: 0 10px;
  padding: 0 0 0 0;
}

/* Content title (Dashboard, Identities, etc) */
#bodyDivTitle, #bodyDivTitle h1 {
  font-family: Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #037DA1;
  padding: 12px 0 10px 5px;
  margin: 0;
  float: left;
  text-indent: 5px;
  z-index: -100;
}

/* Page subtitles (Next button on Identity search results, Drop down on Tasks/Certifications, etc) */
#bodyDivSubTitle {
  position: absolute;
  top: 90px;
  right: 25px;
}

#subtitle.highlight {
  padding: 5px 10px 0 35px;
  float: right;
}

/*END Page subtitles*/

/* Footer */
.bodyDivFooter {
  background-image: none;
  background-color: #ededed;
  background-image: -webkit-linear-gradient(#ffffff, #ededed);
  background-image: -moz-linear-gradient(#ffffff, #ededed);
  background-image: -o-linear-gradient(#ffffff, #ededed);
  background-image: linear-gradient(#ffffff, #ededed);
  font-family: Arial, sans-serif;
  font-size: 9px;
  font-weight: lighter;
  color: #333333;
  margin: 20px 10px 10px 10px;
  padding: 0 0 0 0;
  text-indent: 10px;
  z-index: -100;
}

/* Header/Logo */
#headerText {
  color: white;
  padding: 3px 3px 3px 3px;
  display: inline-block;
  margin: 13px 0 5px 0;
}

#headerText a {
  font-size: 12px;
  line-height: 12px;
  margin: 0 5px;
}

#headerText a, #headerText a:visited, #headerText a:hover {
  color: white;
}

.logoholder {
  float: right;
  background-color: transparent;
  padding: 8px 0 0 0;
  margin-left: 10px;
}

.topLeftLogo {
  float: left;
  margin-top: 8px;
  margin-bottom: 7px
}

.headerLoggedInAs {
  font-weight: bold;
  font-size: 13px;
  margin-right: 7px
}

.pipeMargin {
  margin: 0 5px;
}

/*END Header/Logo*/

/* Breadcrumbs (see LCM Request Access for usage) */
#breadCrumbs ul {
  margin: 10px 0 0 10px;
  padding: 0;
  overflow: hidden;
  float: left;
}

#breadCrumbs li {
  list-style: none;
  float: left;
  font-size: 11px;
  margin: 0;
  padding: 0 5px;
}

#breadCrumbs li:after {
  content: " >";
}

#breadCrumbs li.last:after {
  content: "";
}

#breadCrumbs li.present {
  font-weight: bold;
}

#breadCrumbs li.future {
  color: #CCCCCC;
}

/*END Breadcrumbs */

/******************************************
** TABLE STANDARDS
******************************************/
td.title {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

tr.odd, td.odd, tr.even, td.even {
  height: 35px;
  border-bottom: 1px solid #dadada;
}

tr.odd, td.odd {
  background: #FAFAFA;
}

tr.even, td.even {
  background: #FFFFFF;
}

td.wide {
  width: 100%;
}

td.first {
  width: 50%;
}

td.disabled {
  color: #999;
  font-style: italic;
}

/********************************
/** GENERAL PURPOSE STYLES
/********************************

/* Used all over the product for labels on fields */
.sectionHeader {
  font-size: 14px;
  font-weight: bold;
  color: #037da1;
  margin-bottom: 10px;
  display: inline-block;
}

.subSectionHeader {
  font-size: 9pt;
  font-weight: bold;
  color: #037da1;
}

/* shorthand nowrap class */
.nowrap {
  white-space: nowrap;
}

/* shorthand vertical align class */
.vertical-align {
  vertical-align: top;
}

/* shorthand pointer cursor */
.clickable {
  cursor: pointer;
}

/* shorthand bold font */
.bold {
  font-weight: bold;
}

/* remove all borders */
.noBorder {
  border: 0 !important;
  border-radius: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.middle-align-grid table tr td {
  vertical-align: middle;
}

/* Message displayed when a grid has no rows */
.x-grid-empty {
  text-align: center;
}

/******************************************
** Tables and Color-Scheme Decoration
** 
******************************************/
.spLightGray, .spSolidLightGray {
  background: #F0F0F0;
  color: #666666;
}

.spBlue, .spSolidBlue {
  color: #FFFFFF;
  background: #037da1;
}

.spWhite {
  background: #ffffff;
}

/*TODO: Replace spLightBlueTable with spTable since they are now identical*/
.spTable, .spBlueTable, .spLightBlueTable {
  width: 100%;
}

/* Increasing default caption styles to identical th style, allow for align overriding */
.spTable caption {
  text-indent: 3px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  background-image: none;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
  background-image: -moz-linear-gradient(top, #ffffff, #ededed);
  background-image: -o-linear-gradient(top, #ffffff, #ededed);
  background-image: linear-gradient(top, #ffffff, #ededed);
}

.spTable th, .spBlueTable th, .spLightBlueTable th, .spDataTableHeader {
  text-align: left;
  text-indent: 3px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}

/*Headers */
.spTable th, .spDataTableHeader, .spBlueTable .spTable th {
  background-image: none;
  background-color: #dadada;
  background-image: -webkit-linear-gradient(#ffffff, #dadada);
  background-image: -moz-linear-gradient(#ffffff, #dadada);
  background-image: -o-linear-gradient(#ffffff, #dadada);
  background-image: linear-gradient(#ffffff, #dadada);
  color: #666666;
  border: solid 1px #CCCCCC;
}

.spBlueTable th {
  background: #037da1;
  color: #FFFFFF;
}

/*END Headers */

.spTable td, .spTable th,
.spBlueTable td, .spBlueTable th,
.spLightBlueTable td, .spLightBlueTable th,
.spDataTable td {
  padding: 3px;
}

/* Table with padding */
.spPaddedTable {
  width: 100%
}

.spPaddedTable.nowidth {
  width: auto;
}

.spPaddedTable th, .spPaddedTable td {
  padding: 3px;
}

/* Table with no padding */
.eraseTdPadding td, .eraseTdPadding th {
  padding: 0;
}

/* Align all the columns and headers to the top */
.topAlignTbl th, .topAlignTbl td {
  vertical-align: top;
}

/* Events table on Identity page */
.spBusyTable td, .spBusyTable th {
  padding-left: 8px;
  padding-right: 8px;
}

/* Table with only right margin */
.spRightMarginTable {
  margin: 0 7px 0 0;
}

/* Footer */
.spTableFooter, .spDataTableFooter, .spBlueTableFooter {
  background: #dadada;
  border-bottom: #ccc 1px solid;
  color: #333333;
}

/*General table content layout */
.spContent, .spTitledContent, .spTabledContent, .spLightBlueTabledContent, .spBlueTabledContent, .spTabledAjaxContent, .spAjaxContent, .spGridContent {
  background: #FFFFFF;
  margin: 7px;
  padding: 5px;
}

.spAjaxContent,
.spContent {
  padding: 5px;
}

.spContentTitle, .spContentTitle2 {
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
  color: #037DA1;
  margin: 10px 0 10px 0;
}

/* A smaller content title */
.spContentTitle2 {
  font-size: 12px;
}

.spContentBody {
  padding: 4px;
}

/******************************************
** The next style is for content bodies that need to be ignored by our corner-rounding code.
** Without it we end up with funny dots on the corners of borderless content divs.  It is
** intentionally identical to spContentBody.
******************************************/
.spBorderlessContentBody {
  padding: 4px;
}

/* border around the viewport (see viewport.js) */
.borderCell {
  background: #037da1;
}

/* always bold title text */
div.title {
  font-weight: bold;
}

/* Removes bullet points from lists */
.noList,
.noList li {
  list-style: none;
  margin-left: 0;
}

table.nopad td {
  padding: 0 !important;
}

.paddedCell {
  padding: 3px;
}

/*TODO: KEPT THIS BECAUSE IT IS REFERENCED IN A BUNCH OF PLACES. NEED TO REMOVE */
.spBackground {
}

/*TODO: KEPT THIS BECAUSE IT IS REFERENCED IN A BUNCH OF PLACES. NEED TO REMOVE */
.spGrayBackground {
}

/******************************************
** DATA TABLE COLUMN/ROW/HEADEr STYLES
** Used all over, name implies usage
** Should only indicate size, alignment and 
** text position
******************************************/
.dataTableCheckboxColumn, thead.dataTableCheckboxColumn, th.dataTableCheckboxColumn, td.dataTableCheckboxColumn {
  width: 5%;
  text-align: center;
  border: 0;
}

.titleColumn {
  width: 5%;
  font-weight: bold !important;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  padding-right: 5px !important;
}

.titleColumnLeftAlign {
  width: 5%;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.titleColumnFixedWidth {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  padding-right: 10px !important;
  padding-bottom: 5px !important;
}

.titleColumnWithWrap {
  width: 5%;
  font-weight: bold;
  text-align: right;
}

.helpColumn {
  width: 1%;
  vertical-align: top;
  padding-top: 3px;
}

.centeredColumn, th.centeredColumn td.centeredColumn {
  text-align: center;
}

.leftAlignedColumn {
  text-align: left;
}

.rightAlignedColumn {
  text-align: right;
}

.indentedColumn {
  text-indent: 20px;
}

.leftOfThreeColumns {
  text-align: center;
  width: 15%;
}

.centerOfThreeColumns {
  width: 60%;
}

.rightOfThreeColumns {
  text-align: left;
  width: 20%;
}

.quarterColumnLeftAlign {
  text-align: left;
  width: 25%;
}

/*Used for more than dashboard, this a content header bar for inner-page content tables */
.dashContentHeader {
  background-image: none;
  background-color: #dadada;
  background-image: -webkit-linear-gradient(#ffffff, #dadada);
  background-image: -moz-linear-gradient(#ffffff, #dadada);
  background-image: -o-linear-gradient(#ffffff, #dadada);
  background-image: linear-gradient(#ffffff, #dadada);
  font-weight: bold;
  padding: 5px;
  border: 1px solid #DCDCDC;
}

/* +/- buttons on dash content sections */
.dashContentRemoveBtn, .dashContentExpandBtn {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
}

.dashContentBtns {
  margin-right: 6px;
}

.dashContentBtns td {
  padding: 1px;
}

/* Middle align grid rows */
.middle-align-grid table tr td {
  vertical-align: middle;
}

/* Fix widgets in padded table (bug #10708) */
table.x-form-item td {
  padding: 0;
}

/*******************************
/** pageInfo, roundedPageInfo
/******************************/
.roundedPageInfo {
  color: #555;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
}

.pageInfo div.content, .roundedPageInfo div.content {
  margin-top: 2px;
}

.pageInfo div.instructions, .roundedPageInfo div.instructions {
  margin-top: 5px;
}

.pageInfo p {
  margin-bottom: 10px;
}

.pageInfo td {
  font-weight: normal;
}

.pageInfo {
  color: #555;
  font-weight: bold;
  margin: 10px 0 15px 15px;
}

.pageInfo h3 {
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 5px;
}

.pageInfo h4 {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

.roundedPageInfo div.instructions {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/*******************************
JSF messages classes
 *******************************/

.formInfo {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  background: #eff6f7 url(../../images/icons/dialogue_success_16.png) 16px center no-repeat;
  text-align: left;
  padding: 5px 20px 5px 35px;
  border: 1px solid #59812a;
  color: #59812a;
  list-style-type: none;
  font-weight: bold;
  margin: 5px;
}

.formErrorHeader {
  background-color: #FF0033;
  color: #FAF0E6;
  font-weight: bold;
  font-size: 14px;
}

.formInfoHeader {
  background-color: #ffd324;
  color: #fff6bf;
  font-weight: bold;
  font-size: 14px;
}

.formWarn {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  background: #fff6bf url(../../images/icons/dialogue_warning_16.png) 16px center no-repeat;
  text-align: left;
  padding: 5px 20px 5px 35px;
  border: 1px solid #ffd324;
  list-style-type: none;
  font-weight: bold;
  margin: 5px;
}

.formError, .formErrorNoPad, .formErrorNoWrap {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  background: #FAF0E6 url(../../images/icons/dialogue_error_16.png) 16px center no-repeat;
  text-align: left;
  padding: 5px 20px 5px 35px;
  border: 1px solid #FF0033;
  list-style-type: none;
  font-weight: bold;
  color: #FF0033;
  line-height: 20pt;
  margin: 5px;
}

.spFormErrorPanel {
  background: #eff6f7;
  text-align: left;
  padding: 5px 20px 5px 20px;
  border-top: 2px solid #59812a;
  border-bottom: 2px solid #59812a;
  list-style-type: none;
}

.spFormErrorPanel h2 {
  background: url(../../images/icons/dialogue_error_16.png) left center no-repeat;
  color: #FF0033;
  font-weight: bold;
  padding: 0 0 0 18px;
}

.spFormErrorPanel ul {
  color: #FF0033;
  list-style-type: disc !important;
  margin: 0 0 0 30px;
}

div.formError table tr td {
  list-style-type: none;
  font-weight: bold;
  color: #FF0033;
  line-height: 20pt;
}

.formErrorNoPad {
  margin: 0 0 0 0;
}

.formErrorNoWrap {
  white-space: nowrap;
}

/*******************************
 * Base Window                 *
 *******************************/
.baseWindow {
  text-align: left;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 1px 1px 0 1px;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.baseWindowHeader {
  font-weight: bold;
  padding: 2px 0 2px 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #CCCCCC;
  padding-left: 8px;
}

.baseWindowBody {
  background-color: #FFFFFF;
  font-size: 11px;
  border-style: solid;
  border-color: #CCCCCC #FFFFFF #CCCCCC #FFFFFF;
  border-width: 1px 0 1px 0;
}

.baseWindowFooter {
  background-color: #DADADA;
  border-style: solid;
  border-color: #FFFFFF #FFFFFF #CCCCCC #FFFFFF;
  border-width: 1px 0 1px 0;
  height: 6px;
}

/***********************************************************************
 * Expand Panel                                                        *
 *                                                                     *
 * Note: These should be used as subclasses to the baseWindow classes. *
 *       For example, class="baseWindowHeader expandPanelHeader".      *
 **********************************************************************/

.expandPanel {
}

.expandPanelHeader {
  background-image: none;
  background-color: #dadada;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dadada));
  background-image: -webkit-linear-gradient(#ffffff, #dadada);
  background-image: -moz-linear-gradient(#ffffff, #dadada);
  background-image: -o-linear-gradient(#ffffff, #dadada);
  background-image: linear-gradient(#ffffff, #dadada);
  color: #333333;
  border-color: #cccccc;
  padding: 5px 5px 7px 5px;
  white-space: nowrap;
}

.expandPanelBody {
  padding: 5px
}

.expandPanelFooter {
}

.expandPanelTable {
  width: 100%
}

.expandPanelTable th {
  padding: 0;
}

/*******************************
/** Details panel (expando)
/******************************/
.detailsPanel {
  border: 1px solid #DADADA;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}

.detailsPanelTitleBar {
  border-bottom: 1px solid #dadada;
  font-weight: bold;
  background-image: none;
  background-color: #dadada;
  background-image: -webkit-linear-gradient(#ffffff, #dadada);
  background-image: -moz-linear-gradient(#ffffff, #dadada);
  background-image: -o-linear-gradient(#ffffff, #dadada);
  background-image: linear-gradient(#ffffff, #dadada);
  padding: 2px;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}

.detailsPanelClose {
  float: right;
  width: 16px;
  height: 16px;
}

.detailsPanelContent {
  padding: 2px;
  background-color: #FFFFFF;
}

/*******************************
 * Progress Bar                *
 *******************************/

.progressText {
  color: #037da1;
  font-size: 10px;
  font-weight: bold;
}

.progressBar {
  margin-left: 5px;
  display: block;
  position: relative;
  background: url("../../images/progress/percentImage.png") no-repeat;
  display: inline;
  width: 150px;
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.progressBar.short {
  background: url("../../images/progress/percentImageShort.png") no-repeat;
  margin-left: 0;
}

.progressBarComplete, .progressBarOverdue, .progressBarCompleteGreen {
  position: absolute;
  height: 13px;
  margin: 1px 0 1px 0;
  background: url("../../images/progress/percentImage_green.png") repeat-x;
  background-position: 0;
}

.progressBarRemaining, .progressBarOpen, .progressBarRemainingLightGray, .progressBarRemainingDarkGray, .progressBarCompleteYellow, .progressBarCompleteRed {
  position: absolute;
  background: url("../../images/progress/percentImage_yellow.png") repeat-x;
  height: 13px;
  background-position: 0;
  margin: 1px 0 1px 0;
}

.progressBarOverdue, .progressBarCompleteRed {
  background-image: url("../../images/progress/percentImage_red.png");
}

.progressBarRemainingLightGray {
  background-image: url("../../images/progress/percentImage_back_light_gray.png");
}

.progressBarRemainingDarkGray {
  background-image: url("../../images/progress/percentImage_back_dark_gray.png");
}

.progressBarNumComplete {
  display: inline;
  white-space: nowrap;
  color: #333;
  font-size: 8pt;
  line-height: 10pt;
  text-align: center;
  padding: 0 5px;
}

.progressBarNumComplete a {
  position: absolute;
  display: inline;
  white-space: nowrap;
  font-size: 8pt;
  line-height: 10pt;
}

.progressBarContainer {
  clear: both;
}

.progressBarContainer label {
  width: 220px;
  float: left;
}

/****************************************
/** SLIDERS 
/***************************************/
div.sliderLeft {
  position: absolute;
  width: 15px;
  height: 15px;
  background: transparent url(../../images/sliderLeft.png) no-repeat top left;
}

div.slider {
  position: absolute;
  width: 301px;
  height: 15px;
}

div.sliderWrap {
  float: left;
  clear: both;
  width: 301px;
  height: 15px;
  background: transparent url(../../images/sliderRight.png) no-repeat top right;
}

div.sliderHandle {
  width: 37px;
  height: 15px;
  cursor: move;
}

/*****************************************
** MISC
******************************************/

/* Debug log div, not seen by customers*/
#SailPointLogDiv {
  border: 1px black dashed;
  white-space: pre;
  overflow-y: scroll;
  height: 250px;
}

/* Unsupported browser on page footer */
.unsupportedBrowser {
  position: absolute;
  right: 50px;
  color: #FF6622;
}

/* Help link */
#headerForm {
  line-height: 12px;
}

/* Good container for IdentityDetailsPopup.js */
.viewIdentityDetails {
  background: url("../../images/icons/user.png") no-repeat 0 0;
  padding: 0 10px 0 18px;
  margin-top: 5px;
  white-space: nowrap;
  font-weight: normal;
  float: right;
  margin-top: 8px;
}

/* Replaced a lot of bordered spContent divs with this */
.paddedContainer {
  padding: 20px;
}

tr.padBottom > td {
  padding-bottom: 10px;
}

tr.padTopHi > td {
  padding-top: 30px;
}

tr.padTop > td {
  padding-top: 10px;
}

td.padLeftHi {
  padding-top: 30px;
}

/* Clear div */
.vis-clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0px;
  width: 100%;
}

/* Mimics the ext selected grid row style, but allows us to highlight a grid row
without converting unchecked checkboxes to checked, which ext's style does. */
.hightlightedGridRow {
  background-color: #DDF2D6 !important;
}

/*Fake link styles - Mimic the look of a link */
.fakeLink, .unboldFakeLink, .smallFakeLink {
  text-decoration: none;
  cursor: pointer;
  color: #037da1;
  font-weight: bold;
}

.unboldFakeLink {
  text-decoration: none;
  font-weight: normal;
}

.smallFakeLink {
  text-decoration: none;
  font-size: 8pt;
  line-height: 10pt;
  font-weight: normal;
}

.fakeLink:hover, .unboldFakeLink:hover, .smallFakeLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*END Fake links */

/* Give a little space with this empty div */
.spacerDiv {
  height: 20px;
}

/* Waiting for data (Task schedules, Application loading schema, etc) */
.waitingForDataDiv, .dialogWaitingForDataDiv {
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.2em;
  margin: auto;
  z-index: 317;
  padding: 20px 10px 20px 10px;
}

.dialogWaitingForDataDiv {
  margin: auto;
}

/* Loading spinners */
div.loadingMessageDiv {
  position: relative;
}

div.loadingSpinnerMessageDiv {
  position: absolute;
  z-index: 200;
  border: 1px solid green;
  background-color: white;
  font-weight: bold;
  font-size: larger;
  color: navy;
  text-align: center;
  padding: 4px;
}

.greyborder, .spTable {
  border: 1px solid #C9BFBF;
}

.paddedContainer {
  padding: 20px;
}

/* Something to do with tomahawk calendars */
.popupCalenderBtn {
  height: 21px
}

/* Grid Legends */
.gridLegend {
  color: #333333;
  width: auto;
  font-weight: bold;
  overflow: hidden;
  border: solid 1px #cccccc !important;
  border-bottom: 0px !important;
  padding: 8px 10px 5px 5px;
  background-image: none;
  background-color: #dadada;
  background-image: -webkit-linear-gradient(#ffffff, #dadada) !important;
  background-image: -moz-linear-gradient(#ffffff, #dadada) !important;
  background-image: -o-linear-gradient(#ffffff, #dadada) !important;
  background-image: -ms-linear-gradient( #ffffff, #dadada) !important;
  background-image: linear-gradient(#ffffff, #dadada) !important;
}

.gridLegend img {
  margin: 0 0 0 10px;
  cursor: help;
  vertical-align: middle;
  padding:0px 3px 2px 0px;
}

.gridLegend .legendItem {
  float: left;
  margin: 0 10px 0 5px;
  padding: 2px 0 4px 0;
}

/*END Grid Legends */

/* Show entitlement changes in red */
.newEntitlementTxt {
  color: tomato;
}

/* Make asterix red on required text */
.requiredText {
  color: red;
}

/* Entitlement styling */
.entitlementTxt {
  font-style: italic;
}

.entitlementTxt img, .entitlementValues img, .entitlementDescriptions img, .nameWithTooltip img, .certificationItemDescriptionPolicyViolation img {
  vertical-align: middle;
}

/* Success/Fail text style */
.failText {
  background: url(../../images/icons/dialogue_error_16.png) no-repeat top left;
  color: red;
  text-indent: 20px;
}

.successText {
  background: url(../../images/icons/dialogue_success_16.png) no-repeat top left;
  color: green;
  text-indent: 20px;
}

.failBox, .warnBox, .successBox {
  float: left;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #BBBBBB;
}

.failBox {
  padding-left: 20px;
  height: 16px;
  background-image: url("../../images/icons/dialogue_error_16.png");
  background-repeat: no-repeat;
  border: none;
}

.warnBox {
  padding-left: 20px;
  height: 16px;
  background-image: url("../../images/icons/dialogue_warning_16.png");
  background-repeat: no-repeat;
  border: none;
}

.successBox {
  height: 16px;
  padding-left: 20px;
  background-image: url("../../images/icons/dialogue_success_16.png");
  background-repeat: no-repeat;
  border: none;
}

.successBoxText {
  margin-left: 20px;
  color: #5A8429;
  font-size: 8pt;
  line-height: 10pt;
  font-weight: bold;
}

/*END Success/Fail text styles */

/**************************************
 * Alphacube (Modal Dialog) Overrides *
 **************************************/
.alphacube_title {
  float: left;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
  width: 100%;
  color: #123456;
}

.alphacube_buttons input {
  width: 25%;
}

/* "Floaties" for additional text on hover */
.floatie {
  position: absolute;
  width: 240px;
  padding: 2px;
  margin: 1em;
  border: 1px #CCCCCC solid;
  font-size: 11px;
  z-index: 100;
  background: #f5e9b6 url('../../images/gradients/lightOrange.png') repeat-x;
}

.fittedFloatie {
  position: absolute;
  padding: 2px;
  margin: 1em;
  border: 1px #CCCCCC solid;
  font-size: 11px;
  background: #f5e9b6 url('../../images/gradients/lightOrange.png') repeat-x;
}

/*END floaties */

/* fake highlight color for disabled multiple selections */
select[disabled="disabled"][multiple="multiple"] option[selected="selected"] {
  background-color: #1A7182;
}

/* Not sure what this does */
.messagePanelContainer > .x-panel-body {
  border: 0
}

/* Used in Utils.setDecisionColClass */
/* The decision column on the certification detail grid has
a different background and border scheme than the rest of the tbl*/
.IIQ_decisionChoices {
  background-color: #EEE !important;
  border-right: 1px solid #ccc !important;
}

/* Used in Utils.setDecisionColClass */
.inlineGridIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0px 7px 0px 7px;
}

/* Style for tomahawk date inputs, necessary so that the
   selects and text fields will match up */
.tomahawkInputDate {
  height: 19px;
  vertical-align: top;
  padding-left: 3px;
}

/* These are used in more places than cert schedule, where we 
have a title/help/field layout (application, task pages, for example)
In lieu of replacing hundreds of classes, stick them here as-is. */
.certScheduleTitleCol {
  width: 25%;
  vertical-align: top;
}

.certScheduleHelpCol {
  width: 1%;
  vertical-align: top;
}

.certScheduleOptionCol {
  width: 75%;
  vertical-align: top;
}
