/*******************************
/** Button styles
/******************************/

/* Button row is a container that adds horizontal space between buttons. */
.buttonRow {
  margin-top:20px;
}

.buttonRow input, .buttonRow button {
  margin-right: 5px;
}

/* Primary button should be used for the main actionable button on a page. */
.primaryBtn {
  -webkit-appearance: none; /* Prevent native styling on iOS for disabled buttons */
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  border: solid 1px #00799d !important;
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center;
  vertical-align: middle;
  padding: 5px 10px 5px 10px !important;
  cursor: pointer;
  background-image: none !important;
  background-color: #037da1 !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0097c4), color-stop(100%, #037da1)) !important;
  background-image: -webkit-linear-gradient(top, #0097c4, #037da1) !important;
  background-image: -moz-linear-gradient(top, #0097c4, #037da1) !important;
  background-image: -o-linear-gradient(top, #0097c4, #037da1) !important;
  background-image: -ms-linear-gradient(top,#0097c4, #037da1) !important;
  background-image: linear-gradient(top, #0097c4, #037da1) !important;
}

.primaryBtn:hover,
.primaryBtn:focus {
  background-image: none !important;
  background-color: #058cb1 !important;
  border: solid 1px #058cb1 !important;
}

.primaryBtn:active {
  background-image: none !important;
  background-color: #037da1 !important;
  border: solid 1px #037da1 !important;
}

/* Secondary button should be used for the secondary action buttons on a page. */
/* Rule editor button is the "..." buttons to create/edit rules. */
/* t:inputDate does not provide a way to add a class to  the "..." calendar popup button. 
/* Use input[onclick*="_popUpCalendarForInputDate"][type="button"] to select
/* these inputs and apply button style */
.secondaryBtn,
.ruleEditorBtn, 
input[onclick*="_popUpCalendarForInputDate"][type="button"],
.pagingButton {
  -webkit-appearance: none; /* Prevent native styling on iOS for disabled buttons */
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  border: solid 1px #cccccc !important;
  color: #037da1;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: center;
  vertical-align: middle;
  padding: 5px 10px 5px 10px !important;
  cursor: pointer;
  background-image: none !important;
  background-color: #efefef !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #e6e6e6)) !important;
  background-image: -webkit-linear-gradient(top,#f8f8f8, #e6e6e6) !important;
  background-image: -moz-linear-gradient(top,#f8f8f8, #e6e6e6) !important;
  background-image: -o-linear-gradient(top,#f8f8f8, #e6e6e6) !important;
  background-image: -ms-linear-gradient(top,#f8f8f8, #e6e6e6) !important;
  background-image: linear-gradient(top,#f8f8f8, #e6e6e6) !important;
}

.secondaryBtn:hover,
.secondaryBtn:focus,
.ruleEditorBtn:hover,
.ruleEditorBtn:focus,
input[onclick*="_popUpCalendarForInputDate"][type="button"]:hover,
input[onclick*="_popUpCalendarForInputDate"][type="button"]:focus,
.pagingButton:hover,
.pagingButton:focus {
  background-image: none !important;
  background-color: #fbfbfb !important;
  border: solid 1px #cccccc !important;
}

.secondaryBtn:active,
.ruleEditorBtn:active,
input[onclick*="_popUpCalendarForInputDate"][type="button"]:active {
  background-image: none !important;
  background-color: #f0f0f0 !important;
  border: solid 1px #cccccc !important;
}

/*
 * Disabled styles for the primary and secondary buttons.  Note that we are
 * using the [disabled] attribute selector rather than the CSS3 :disabled
 * selector so that this will work on IE browsers.
 */
.primaryBtn[disabled],
.primaryBtn[disabled]:hover,
.primaryBtn[disabled]:active,
.primaryBtn.x-btn-disabled,
.primaryBtn.x-btn-disabled:hover,
.primaryBtn.x-btn-disabled:active,
.secondaryBtn[disabled],
.secondaryBtn[disabled]:hover,
.secondaryBtn[disabled]:active,
.ruleEditorBtn[disabled],
.ruleEditorBtn[disabled]:hover,
.ruleEditorBtn[disabled]:active,
input[onclick*="_popUpCalendarForInputDate"][type="button"][disabled],
input[onclick*="_popUpCalendarForInputDate"][type="button"][disabled]:hover,
input[onclick*="_popUpCalendarForInputDate"][type="button"][disabled]:active,
.pagingButton[disabled],
.pagingButton[disabled]:hover,
.pagingButton[disabled]:active,
.pagingButtonDisabled,
.pagingButtonDisabled:hover,
.pagingButtonDisabled:active {
  background-image: none !important;
  background-color: #e8e8e8 !important;
  color: #aaaaaa !important;
  border-color: transparent !important;
  cursor: default !important;
}

/********************************************************************
 * ExtJS button styles
 ********************************************************************/

/*
 * ExtJS buttons put text in a span that has a style that defines the color.
 * Override it here by using a selector with more specificity that just
 * primaryBtn.
 */
.primaryBtn .x-btn-inner {
  color: #FFFFFF;
}

.secondaryBtn .x-btn-inner {
  color: #037da1;
}

/*
 * Use a disabled color for primary buttons.  Note that the #333333 is darker
 * than the #aaaaaa we use in the primaryBtn disabled styles above.  This is
 * because the Ext styles also add an opacity, which lightens this.
 */
.primaryBtn.x-btn-disabled .x-btn-inner,
.primaryBtn.x-btn-disabled:hover .x-btn-inner {
  color: #333333;
}

/*
 * The padding defined on primaryBtn overrides the padding that Ext normally
 * applies when a button is in a toolbar, which causes it to overflow. Apply
 * the padding that Ext would normally apply when the primaryBtn is in a
 * toolbar.
 */
.primaryBtn.x-btn-default-toolbar-medium {
  padding: 2px 10px 2px 10px !important;
}

.primaryBtn.x-btn-default-toolbar-small {
  padding: 5px 10px 5px 10px !important;
}

.primaryBtn.x-btn-default-toolbar-large {
  padding: 3px 3px 3px 3px !important;
}

/* END ExtJS button styles */


/* Need to make Rule editor and t:inputDate calendar buttons shorter and aligned 
/* on top to match combo box height */
.ruleEditorBtn,
input[onclick*="_popUpCalendarForInputDate"][type="button"] {
  padding-top: 0 !important;
  height: 19px !important;
  vertical-align: top !important;
}

/* Paging buttons for report paging, identity navigation */
.pagingButton {
  color: #333333 !important;
  height: 28px;
  vertical-align: middle;
}

.pagingButton[disabled], .pagingButtonDisabled {
  opacity: .50;
  filter: alpha(opacity=50);
  cursor: default !important;
}

.pagingButton.nextButton, .pagingButton.previousButton {
  padding: 0 !important;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.pagingButton.nextButton, .pagingButton.nextButton[disabled] {
  background-image: url(../../images/icons/BlkArrowRight.png) !important;
}

.pagingButton.previousButton, .pagingButton.previousButton[disabled] {
  background-image: url(../../images/icons/BlkArrowLeft.png) !important;
}

/* Display count and totals */
.pagingInfo {
  background: #dadada;
  color: #333333;
  font-weight: bold;
  white-space: nowrap;
  border: solid 1px #cccccc !important;
  padding: 6px 5px 6px 5px;
  height: 28px;
}
/*END Paging buttons */

/*
 * ExtJS buttons with icons
 */
.addBtn {
  background-image: url(../../images/icons/add.png) !important;
}

.importBtn {
  background-image: url(../../images/icons/table_row_insert.png) !important;
}

.exportBtn {
  background-image: url(../../images/icons/table_row_delete.png) !important;
}

.searchBtn {
  background-image: url(../../images/icons/magnifier.png) !important;
}

.forwardBtn {
  background-image: url(../../images/icons/user_go.png) !important;
}

.editBtn {
  background-image: url(../../images/icons/application_form_edit.png) !important;
}

.viewDetailsBtn {
  background-image: url(../../images/icons/application_form_magnify.png) !important;
}

.emailBtn {
  background-image: url(../../images/icons/email.png) !important;
}

.deleteBtn {
  background-image: url(../../images/icons/delete.png) !important;
}

.deleteCrossBtn {
  background-image: url(../../images/icons/cross.png) !important;
}

.executeBtn {
  background-image: url(../../images/icons/cog.png) !important;
}

.saveAsNewBtn {
  background-image: url(../../images/icons/application_form_add.png) !important;
}

.csvBtn {
  background-image: url(../../images/icons/export_csv.png) !important;
}

.infoBtn {
  background-image: url(../../images/icons/info.png) !important;
}

.undoBtn {
  background-image: url(../../images/icons/arrow_undo.png) !important;
}

.groupSelectedBtn {
  background-image: url(../../images/icons/arrow_in.png) !important;
}

.ungroupSelectedBtn {
  background-image: url(../../images/icons/arrow_inout.png) !important;
}

.acceptBtn {
  background-image: url(../../images/icons/accept.png) !important;
}

.cancelBtn {
  background-image: url(../../images/icons/cancel.png) !important;
}

.saveBtn {
  background-image: url(../../images/icons/save.png) !important;
}

.saveAsBtn {
  background-image: url(../../images/icons/save_as.png) !important;
}
