/*******************************
/** Shared icons that are useful in 
/** several contexts (role types, application
/** icons, etc)
/******************************/

/* Role Types */
.businessIcon {
  background-image: url("../../images/icons/modeler_function_16.png") !important;
  background-repeat: no-repeat;
}

.businessIconLarge {
  background-image: url("../../images/icons/role_type_business.png") !important;
  background-repeat: no-repeat;
}

.businessIconPendingWorkflow {
  background-image: url("../../images/icons/modeler_function_approval_16.png") !important;
  background-repeat: no-repeat;
}

.entitlementIcon {
  background-image: url("../../images/icons/entitlement.png") !important;
  background-repeat: no-repeat;
}

.entitlementIconLarge {
  background-image: url("../../images/icons/role_type_entitlement.png") !important;
  background-repeat: no-repeat;
}

.itIcon {
  background-image: url("../../images/icons/modeler_application_16.png") !important;
  background-repeat: no-repeat;
}

.itIconLarge {
  background-image: url("../../images/icons/role_type_it.png") !important;
  background-repeat: no-repeat;
}

.organizationalIcon {
  background-image: url("../../images/icons/modeler_process_16.png") !important;
  background-repeat: no-repeat;
}

.organizationalIconLarge {
  background-image: url("../../images/icons/role_type_organizational.png") !important;
  background-repeat: no-repeat;
}
/* END Role Types */

/* Application Icons */
.mainframeIconLarge {
  background-image: url("../../images/icons/app_mainframe.png") !important;
  background-repeat: no-repeat;
}

.internetIconLarge {
  background-image: url("../../images/icons/app_internet.png") !important;
  background-repeat: no-repeat;
}

.directory1IconLarge {
  background-image: url("../../images/icons/app_directory1.png") !important;
  background-repeat: no-repeat;
}

.directory2IconLarge {
  background-image: url("../../images/icons/app_directory2.png") !important;
  background-repeat: no-repeat;
}

.databaseIconLarge {
  background-image: url("../../images/icons/app_database.png") !important;
  background-repeat: no-repeat;
}

.enterpriseIconLarge {
  background-image: url("../../images/icons/app_custom.png") !important;
  background-repeat: no-repeat;
}
/* END Application Icons */

/* Risk Level images */
/* Should be used with any of the ri_ classes (e.g. class="riskIndicator ri_00cc00") */
.riskIndicator {
  background-repeat: no-repeat;
  border: none;
  padding-left: 15px;
  background-position: 0 center !important;
}

.dynamicRiskIndicator {
  padding-left: 10px;
  padding-right: 10px;
}

/* lowest risk */
.ri_00cc00 {
  background-image: url("../../images/icons/risk_indicator_00cc00.png");
}

/* low risk */
.ri_00ff00 {
  background-image: url("../../images/icons/risk_indicator_00ff00.png");
}

/* med-low risk */
.ri_ccff00 {
  background-image: url("../../images/icons/risk_indicator_ccff00.png");
}

/* med risk */
.ri_ffff00 {
  background-image: url("../../images/icons/risk_indicator_ffff00.png");
}

/* med-high risk */
.ri_ffcc00 {
  background-image: url("../../images/icons/risk_indicator_ffcc00.png");
}

/* high risk */
.ri_ff0000 {
  background-image: url("../../images/icons/risk_indicator_ff0000.png");
}

/* highest risk */
.ri_cc0000 {
  background-image: url("../../images/icons/risk_indicator_cc0000.png");
}
/*END Risk Level
 
/* Object type icons */
.groupIcon {
  background-image: url(../../images/icons/group.png) !important;
  background-repeat: no-repeat !important;
  padding: 0 0 0 18px !important;
}

.groupDeleteIcon {
  background-image: url(../../images/icons/group_delete.png) !important;
  background-repeat: no-repeat !important;
}

.groupAddIcon {
  background-image: url(../../images/icons/group_add.png) !important;
  background-repeat: no-repeat !important;
}

.accountGroupIcon {
  background-image: url(../../images/icons/application_double.png) !important;
  background-repeat: no-repeat !important;
}

.userIcon {
  background-image: url(../../images/icons/user.png) !important;
  background-position: left center !important;
  background-repeat: no-repeat !important;
  padding: 0 0 0 18px !important;
}

.createAccountIcon {
  background-image: url(../../images/icons/add.png) !important;
  background-repeat: no-repeat !important;
  padding-left:25px;
}
/*END Object types icons */

/* Export icons */
.pdfIcon {
  background-color: transparent;
  background-image: url(../../images/pdf.gif) !important;
  background-repeat: no-repeat !important;
  background-position: left top !important;
}

.csvIcon {
  background-color: transparent;
  background-image: url(../../images/icons/export_csv.png)!important;
  background-repeat: no-repeat !important;
  background-position: left top !important;
}

/**
 * HP ArcSight Integration - IdentityIQ CEF data feed
 */
.cefIcon {
  background-color: transparent;
  background-image: url(../../images/icons/export_cef.png) !important;
  background-repeat: no-repeat !important;
  background-position: left top !important;
}

/*END Export icons*/

/* Question mark help links */
img.helpIcon{
  width:12px;
  height:12px;
  cursor:pointer;
  padding: 0 7px 0 7px;
}

/* Help icons in forms and the BPE are floated because they exist inside a label element */
img.formHelpIcon {
  float: right;
}