/* Suggest, MultSuggest, CompactMultiSuggest */
div.multisuggest td {
  padding: 0;
}

.multisuggest table tr.x-grid-header-row {
  display: none;
}

img.compactMultiSelectControl {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

/* Color for role type in role suggest */
.sp-grey {
  color: #525759;
}

/* Icon support */
.iconComboItem {
  text-indent: 10px;
  margin-bottom: 0 !important;
}

.iconCombo input {
  text-indent: 20px;
}

.iconCombo input.userIcon {
  background-image: url(../../images/field-user.gif) !important;
}

.iconCombo input.groupIcon {
  background-image: url(../../images/field-group.gif) !important;
}

/* Bump additional info over */
.extraIndentedColumn {
  text-indent: 20px;
  font-size: 11px;
}

/* Identity suggests */
.x-combo-list .email, .x-combo-list .noEmail {
  font-size: 12px;
  color: #888;
}

.noEmail {
  font-style: italic;
  color: #aaa;
}

/*END Identity suggests */
