/*******************************
 * Dashboard                   *
 *******************************/
#dashboardControls {
  text-align: left;
  margin: 7px 0 15px 20px;
  padding-left: 20px;
  overflow: hidden;
  float: right;
}

.dashTable {
  background: url('../../../images/bg_stripes.png') !important;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 1px 1px 1px 1px;
  width: 100%;
}

.dashToolBar {
  background: url('../../../images/bg_stripes.png') !important;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 1px 1px 1px 1px;
  padding: 7px 5px 2px 5px !important;
}

.selectedYellow {
  background-color: #fee871;
}

.dashboardLayoutTable {
  width: 100%;
  text-align: center;
}

.dashColumn {
  text-align: center;
  height: 100%;
  float: left;
  margin: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.dMedium1 {
  width: 49%;
}

.dMedium2 {
  width: 49%;
}

.dXtraLarge1 {
  width: 98%;
  margin-left: 3px;
}

.TwoColEvenTop .dMedium1, .TwoColEvenTop .dMedium2 {
  padding-top: 0;
}

.TwoColEvenTop .dXtraLarge1 {
  padding-bottom: 0;
}

.TwoColEvenBottom .dMedium1, .TwoColEvenBottom .dMedium2 {
  padding-bottom: 0;
}

.TwoColEvenBottom .dXtraLarge1 {
  padding-top: 0;
}

/*
 * Note: The dashContent, dashContentHeader, dashContentBody, and
 * dashContentFooter classes should be used as subclasses to the baseWindow
 * classes.
 */
.dashContentPanel {
  overflow-y: visible;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dashContentFooter, .dashContentBody {

}

.dashContentRemoveBtn, .dashContentExpandBtn {
  cursor: pointer;
  float: right;
}

.dashContentRemoveBtn.required {
  cursor: default;
}

.dashContentNoBorder {
  text-align: left;
  margin: 2px;
}

.dashContentHover {
  border-style: dashed dashed dashed dashed;
  border-width: 2px 2px 2px 2px;
  border-color: #FF3333 #990000 #FF3333 #990000;
  cursor: move;
  z-index: 100;
}

.dashChoicesHeader {
  background: #4a75a0 url('../../../images/gradients/lightTeal.png') repeat-x;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.dashContentItem, .lightBlueBoxHeading, .yellowBoxHeading, .dashContentItemRequired {
  background-repeat: repeat-x;
  border-color: #BBBBBB;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  height: 25px;
}

.dSelected, .yellowBoxHeading {
  background: #fede63 url('../../../images/gradients/mediumOrange.png') repeat-x;
}

.dUnselected, .lightBlueBoxHeading {
  background: #cfdcec url('../../../images/gradients/lightBlue.png') repeat-x;
}

.dashboardUndo {
  float: left;
  background: #f5e9b6 url('../../../images/gradients/lightOrange.png') repeat-x;
  padding: 4px;
  border: 1px solid gray;
  font-weight: bold;
  cursor: default;
  font-size: 12px;
  color: #111111;
}

#undoDiv {
  margin: 0 0 10px 0;
}

#dashboardTypeSelector {
  display: block;
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px #999 solid;
}

#dashboardEditLink {
  display: block;
  float: left;
  background: url('../../../images/icons/dashboard_edit_16.png') left center no-repeat;
  padding-left: 20px;
  margin-right: 10px;
  padding-right: 10px;
}

#dashboardEditLink a {
  line-height: 18px;
}

.preferencesPageSectionTable {
  border: 1px #ccc solid;
}

.quickLinks {
  float: left;
  overflow: hidden;
  list-style: none;
}

.quickLinks li {
  list-style: none;
  margin: 0;
  float: left;
  text-align: center;
  width: 80px;
  height: 60px;
  padding-top: 3px;
  background: url('../../../images/icons/quicklink_64.png');
}

.quickLinks li.first {
  background-position: -1px 0;
  width: 79px;
}

.quickLinks li:hover {
  background: url('../../../images/icons/quicklink_on_64.png');
}

.quickLinks li:active {
  background: url('../../../images/icons/quicklink_focus_64.png');
}

.quickLinks li.requestRoles a {
  background-image: url('../../../images/icons/lcm_request_roles.png');
  width: 70px;
}

.quickLinks li.manageAccounts a {
  background-image: url('../../../images/icons/lcm_manage_accounts.png');
}

.quickLinks li.managePasswords a {
  background-image: url('../../../images/icons/lcm_manage_passwords.png');
}

.quickLinks li.createIdentity a {
  background-image: url('../../../images/icons/lcm_create_identity.png');
}

.quickLinks li.editIdentity a {
  background-image: url('../../../images/icons/lcm_edit_identity.png');
  width: 62px;
}

.quickLinks li.viewIdentity a {
  background-image: url('../../../images/icons/lcm_view_identity.png');
  width: 62px;
}

.quickLinks li.requestEntitlements a {
  background-image: url('../../../images/icons/lcm_request_entitlements.png');
}

.quickLinks li a {
  display: block;
  height: 28px;
  font-size: 9px;
  line-height: 11px;
  width: 74px;
  padding: 32px 3px 0 3px;
  background-position: center -3px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.quickLinks li a:hover {
  text-decoration: none;
  background-position: center -68px;
}

.quickLinks li a:active {
  margin-top: 1px;
  height: 27px;
}

#dashboardLCMLaunch {
  width: 100%;
  overflow: hidden;
  margin: 15px 0;
}

.quickLinkCategory {
  float: left;
  border-left: 1px #ccc solid;
  padding: 0 15px 0 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 10px 22px;
  min-height: 110px;
  _height: 110px; /** IE Hack **/
}

.quickLinkCategory h3 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.quickLinkCategoryAccess {
  background-image: url('../../../images/icons/quicklink_access.png');
}

.quickLinkCategoryCompliance {
  background-image: url('../../../images/icons/quicklink_compliance.png');
}

.quickLinkCategoryTasks {
  background-image: url('../../../images/icons/quicklink_tasks.png');
}

.quickLinkCategoryManage {
  background-image: url('../../../images/icons/quicklink_identity.png');
}

.quickLinkCategoryCustom {
  background-image: url('../../../images/icons/quicklink_custom.png');
}

#categoryCompliance,
#categoryCustom {
  border: 0;
}

.quickLinkCategory ul {
  float: left;
  margin: 0 0 0 75px;
  padding: 0;
}

.quickLinkCategory ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* good for 2 quicklinks */
@media only screen and (min-width : 517px) {
  .quickLinkCategory {
    width: 50%;
  }
}

/* good for 3 quicklinks */
@media only screen and (min-width : 730px) {
  .quickLinkCategory {
    width: 33.333%;
  }
}

/* good for 4 quicklinks */
@media only screen and (min-width : 965px) {
  .quickLinkCategory {
    width: 25%;
  }
}

/* Large screens ----------- */
/* good for 5 quicklinks */
@media only screen and (min-width : 1124px) {
  .quickLinkCategory {
    width: 20%;
  }
}

/*
 * FF ESR on Mac calculates the offsetWidth of the tooltip as 1px smaller than
 * it actually is, which causes the "For Others" to wrap and only show "For".
 * Turn off wrapping on the body div to prevent this.
 */
.quickLinkToolTipBody {
  white-space: nowrap;
}

/* Dashboard charts */
.chartSelect {
  width: 150px
}

.chartSelectLarge {
  width: 250px;
}

.chartSuggest,
.chartSuggest .x-grid-cell-inner, .x-grid-hd-inner {
  font-size: 10px !important;
  line-height: 12px;
}

.chartSuggest td, th {
  padding: 0;
}

/* END Dashboard charts */

.idField {
  display: none;
}

/* Statistics text for certification widgets */
.openItem, .completedItem, .delegatedItem, .overdueItem {
  background: url('../../../images/icons/risk_indicator_ffff00.png') no-repeat;
  padding-left: 14px;
}

.completedItem {
  background: url('../../../images/icons/risk_indicator_00cc00.png') no-repeat;
}

.overdueItem {
  background: url('../../../images/icons/risk_indicator_cc0000.png') no-repeat;
}

.delegatedItem {
  background: url('../../../images/icons/delegated_item_12.png') no-repeat;
}

/*END Statistics text*/

.dashContentItemRequired .handle {
  cursor: default;
}

/* Mouse-over on contentMyCertifications.xhtml */
.pageInfoOrange, .pageInfoOrange th {
  background: #fede63 url("../../../images/gradients/mediumOrange.png") repeat-x;
  color: #666666;
}

.dashContentPanel .x-toolbar-default-docked-top {
  border-top: none !important;
}

.configLinkDiv {
  background-color: #f0f0f0;
  float: right;
  padding: 8px 10px 8px 18px;
  margin-right: 10px;
}