/***************************************
/** Risk Scores styles
/**************************************/

.certificationsResponseLabelColumn {
  width: 25%;
  font-weight: normal;
  text-align: left;
}

/*Suggest box for new application on entitlements BAR page */
.entitlementsSuggestWrapper {
  border-style: none;
  padding: 3px;
  float: left;
  margin-right: 5px;
}

.applicationAddButton {
  margin-top: 4px;
}

/* Column for slider */
.indicatorSliderInputCombo {
  width: 400px;
}

.compensatingControlColumn {
  width: 535px;
}

/* Table style used for laying out sliders */
.sysConfigTable {
  border: 1px solid #CCCCCC;
  width: 100%;
  height: 100%;
}