/***************************************
/** Access Request page styling
/**************************************/

.accessdetailsgrid {
  margin-top: 20px;
}

.policyViolationsSection {
  background: url(../../../../../images/icons/policy_violation_16.png) no-repeat;
  display: inline-block;
  margin-left: 10px;
  padding-left: 20px;
}

.pageInfo td:last-of-type {
  width: 60%;
}

/* Override the style in request-access.css for myAccessRequests.xhtml */
#bodyDivTitle {
  display: block;
}