/***************************************
/** Policy Violation styles
/**************************************/

/* Policy Violation detail page */
.policyViolationDetailLabel {
  padding-top: 10px;
  padding-bottom: 10px
}

#violationDialogForm .titleColumn {
  vertical-align: middle;
  width: 20%;
}

#violationDialogForm .leftAlignedColumn {
  padding-left: 10px;
  width: 80%;
}

#violationDialogForm table {
  width: 100%;
  margin-top: 5px;
}
