/*******************************
 * Form Editor
 *******************************/

.attributeEdit {
    background: url(../../../images/icons/gear-icon16.png) 16px center no-repeat;
    padding-left: 35px;
    padding-right: 10px;
    margin-top: 5px;
    display: block;
}

#formGrid a {
    cursor: pointer;
}