/* HtmlEditorCounterPlugin.js */
.htmlEditorCounter {
  padding: 2px;
  background: #EDEDED;
  font-size: 11px;
  color: #333333;
}

.htmlEditorCounterOverLimit {
  color: red;
  font-weight: bold;
}
