/***************************************
/** Work Item styles
/**************************************/

#approvalcheckboxgrid .x-grid-view th, #approvalcheckboxgrid .x-grid-view td {
  padding: 0 !important;
  padding-top: 0 !important;
  border-bottom-width: 0;
}

/* Fix role details expando on challenge work item (Bug 11258) */
div.roleDetailsExpando table td {
  padding: 0;
}

/* Indicate things that can be edited via combo in the work item */
.editableColumnCombo{
  background: url(../../../../images/icons/selector.png) no-repeat center right;
}

/* Comment editing on work items */
.commentBody {
  margin: 10px 0 10px 0;
  text-align: left;
  padding-left: 5px;
}

.commentHeader {
  font-weight: bold;
  background-color: #dadada;
  padding-left: 5px;
}

#commentsDiv {
  border: 1px solid #C9BFBF;
}

/* Action Icons */
.approveRadio {
  background: url("../../../../images/approveRadio.png") no-repeat 0 0;
}

.addRadio {
  background: url("../../../../images/addRadio.png") no-repeat 0 0;
}

.revokeRadio {
  background: url("../../../../images/revokeRadio.png") no-repeat 0 0;
}

.revokeAccountRadio {
  background: url("../../../../images/revokeAccountRadio.png") no-repeat 0 0;
}

.mitigateRadio {
  background: url("../../../../images/mitigateRadio.png") no-repeat 0 0;
}

.delegateRadio {
  background: url("../../../../images/delegateRadio.png") no-repeat 0 0;
}

.approveAccountRadio {
  background: url("../../../../images/approveAccountRadio.png") no-repeat 0 0;
}

.addCommentRadio {
  background: url("../../../../images/icons/add.png") no-repeat 0 0;
}
/* END Action Icons */

/*Unsaved changes message*/
.certificationIdentityChanged {
  color: #c80000;
  font-weight:bold;
  background: #333333 url('../../../../images/gradients/lightRedReverse.png') repeat-x;
  padding: 3px;
  border: 1px solid #fc7878;
  text-align: left;
}


/* Remediation work item styles */
.okBtn {
  background: url(../../../../images/icons/dialogue_success_16.png) center left no-repeat !important;
  color:#333333 !important;
  font-size:12px !important;
  padding-left:18px !important;
}

.assignBtn {
  background:url(../../../../images/icons/user_go.png) center left no-repeat !important;
  color:#333333 !important;
  font-size:12px !important;
  padding-left:18px !important;
}
/*END Remediation work item styles */
