/* (c) Copyright 2008 SailPoint Technologies, Inc., All Rights Reserved. */

/* Common 
If you have a style such as "font-weight:bold" that you want to make into a class, 
put it here.  An example of one we are currently using is "font10".  
It's a class that only contains one style declaration that is "font-size:10pt".  
*/

/** NOTE - PLEASE KEEP THIS FILE IN ALPHABETICAL ORDER **/
.font10,
.font10 td,
.font10 select,
.font10 input,
.font10 a {
  font-size: 12px;
  line-height: normal;
}

input.font10 {
  line-height: normal;
}

.handle {
  cursor: move;
}

.pointer {
  cursor: pointer;
}

.textBold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.width50 {
  width: 45%;
}

.width100 {
  width: 100%;
}

/* width of text input fields */
.inputWidth {
  width: 200px;
}

/* width of text input fields, smaller to indicate we want numbers */
.inputNumberWidth {
  width: 40px;
}

.customWidth {
  width: 94%;
}

.dashWidth100 {
  width: 100%;
}

.padded {
  padding: 3px;
}

.padded10 {
  padding: 10px;
}

.padDown {
  padding-bottom: 10px;
}

.marDown {
  margin-bottom: 10px;
}

.marUp {
  margin-top: 10px;
}

.paddedTbl td, .paddedTbl th {
  padding: 4px;
}

.paddedTbl2 td, .paddedTbl2 th {
  padding: 5px !important;
}

.nonPaddedTbl td {
  padding: 0;
}

.nonPaddedTbl th {
  padding: 4px;
}

.horizPaddedTbl td, .horizPaddedTbl th {
  padding-left: 4px;
  padding-right: 4px;
}

.lightBorder {
  border: 1px #ccc solid;
}

.disabled {
  color: #999;
}

.green {
  color: seagreen;
}

.red {
  color: tomato;
}

.floatLeft {
  float: left;
}

.normal {
  white-space: normal;
}

.top {
  vertical-align: top;
}

.rBorder {
  border-right: 1px #ccc solid;
}

.lrBorder {
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
}

.vis-clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

.zerobottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
