.x-menu-icon-separator {
  border-left: 0 !important;
}

.x-property-grid .x-grid-row .x-grid-property-name .x-grid-cell-inner,
.x-property-grid .x-grid-row-over .x-grid-property-name .x-grid-cell-inner {
  background-image: none !important;
}

.x-boundlist-floating .x-btn-default-toolbar-small {
  padding: 3px 6px !important;
}

.x-accordion-hd {
  background-image: none;
  background-color: #dadada !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dadada)) !important;
  background-image: -webkit-linear-gradient(top, #ffffff , #dadada) !important;
  background-image: -moz-linear-gradient(top, #ffffff , #dadada) !important;
  background-image: -o-linear-gradient(top, #ffffff , #dadada) !important;
  background-image: linear-gradient(top, #ffffff , #dadada) !important;
}

.x-accordion-hd .x-panel-header-text {
  color: #666666 !important;
  font-weight: bold !important;
}

.x-tool img {
  background-image: url('../images/tools/tool-sprites.gif') !important;
}

.x-monthpicker-yearnav button {
  background-image: url('../images/tools/tool-sprites.gif') !important;
}

.x-btn-default-toolbar-small-disabled,
.x-btn-default-toolbar-medium-disabled,
.x-btn-default-toolbar-large-disabled {
  background-color: #e8e8e8 !important;
  background-image: none !important;
  border-color: transparent !important;
}

.x-grid-header-ct-docked-top {
  border-bottom-width: 1px !important;
}

/* Original comments : add some left padding since we removed the label
 * New comments      : bug#17778 - on spcombo suggest components in workflow and custom form pages, 
 *                     the refresh icon is cut off, allow Ext to use the default of 2px
 *.x-toolbar {
 *  padding-left: 8px !important;
 *}
 */

.x-tabpanel-child {
  border-top-style: none !important;
}

.x-tab-bar-body {
  border-style: none !important;
}

.x-tab-default-top {
  background-image: none;
  background-color: #dadada;
  background-image: -webkit-linear-gradient(#ffffff, #dadada);
  background-image: -moz-linear-gradient(#ffffff, #dadada);
  background-image: -o-linear-gradient(#ffffff, #dadada);
  background-image: linear-gradient(#ffffff, #dadada);
}

.x-tab-default-top-active {
  background-image: none !important;
  background-color: #ffffff !important;
  border-bottom: medium none !important;
}

.x-panel-body-default {
  border-top-width: 0;
  border-top-style: none !important;
}

.x-tab button {
  color: #333333 !important;
}

.x-tab-active button {
  color: #037da1 !important;
}

.x-grid-header-ct {
  border-color: #cccccc !important;
}

.x-panel-header-default {
  font-size: 15px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.x-panel-header-text-default {
  font-size: 15px !important;
}

.x-column-header {
  font: bold 13px arial, sans-serif !important;
}

.x-boundlist-item {
  list-style: none;
  margin: 0;
}

/* force cursor for resizable panels */
.x-splitter-vertical, .x-splitter-horizontal {
  cursor: e-resize !important;
  cursor: col-resize !important;
}

/*
 By default, In all browsers except IE6 and 7 Ext4 overrides the box-sizing 
 css property of all elements on the page and changes it to use 
 the border-box sizing instead of the default content-box. This
 can cause issues width the width and heights of elements as the 
 padding and border widths are handled differently (see 
 http://www.w3schools.com/cssref/css3_pr_box-sizing.asp), mainly 
 images have been effected, so here we simply set the sizing method 
 back to the default. The .content-box-sizing css class can be 
 applied to any element that needs the old sizing method.
 
 The Ext object defines a property named scopeResetCSS which, if 
 set to true, will wrap root widget containers with an additional element 
 causing the css reset to only apply to the widgets (see 
 http://www.objis.com/formationextjs/lib/extjs-4.0.0/docs/api/Ext.html). 
 Doing this seems to cause a lot more elements to be misplaced, so for 
 now this solution is being used.
 */
.x-border-box img, .content-box-sizing {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.x-html-editor-tb .x-edit-insertlinewrapping,
.x-menu-item img.x-edit-insertlinewrapping {
  background-image: url('../images/wordwrap_icon.png');
}

.x-html-editor-tb .x-edit-insertcodefolding,
.x-menu-item img.x-edit-insertcodefolding {
  background-image: url('../images/icons/general_disclosure_arrow_10.png');
  background-size: 15px 15px;
}

.x-html-editor-tb .x-edit-insertcodeindenting,
.x-menu-item img.x-edit-insertcodeindenting {
  background-image: url('../images/autoindent_icon.png');
}

/* tree node selected highlighting */
.x-tree-panel table tr.x-grid-row-selected td {
  background-color: #efefef !important;
}

.x-grid-row-selected {
  background: #ddf2d6 none repeat scroll 0 50% !important;
  border: 1px dotted #a3bae9;
}

/* Allow creating an error message div for composite components. */
div.x-form-invalid-under ul li {
  list-style: none;
  margin-left: 10px;
}

/* Make form labels bold to match styling on our other forms. */
.x-form-item-label, .x-form-cb-label {
  font-weight: bold;
}

/*
 * Give fieldsets a small top margin so the top border of the legend
 * does not get cut off.
 */
.x-fieldset-header {
  margin-top: 1px;
}

/* Get rid of background image for IE8 (x-nlg)*/
.x-nlg .x-tab-bar {
  background-image: none; 
}
