/* (c) Copyright 2008 SailPoint Technologies, Inc., All Rights Reserved. */
.sMText, .sMTextHover {
  height: 24px;
  width: auto;
}

/* The actual radio button is hidden b/c we're showing an image. */

.popupCalenderBtn {
  height: 22px;
  vertical-align: top
}

.imageRadio {
  padding: 0 0 0 6px;
}

.imageRadio input {
  visibility: hidden;
  display: inline;
}

#appTable {
  height: auto;
}

.alphacube_content {
  overflow-x: hidden
}

/*
 Since the error icon is a background image positioned at "16px center" IE7
 thinks that center is half way between previous line and the line that the
 error is actually rendered on (if it would have been wrapped).  This causes
 the icon to be clipped and only show the bottom half in the case.  Use block
 display instead of the default inline to force this to be rendered on a
 newline.
 */
.formErrorNoWrap {
  display: block;
}

.iconCombo input {
  text-indent: 0;
  padding-left: 20px;
}

/** IE 7/8 Hack to fix positioning problem in bug 5868.  PH **/
.progressBar {
  position: relative;
  background: url("../images/progress/percentImageDarkGray.png") no-repeat;
}

.progressBarRemaining, .progressBarOpen, .progressBarRemainingLightGray, .progressBarRemainingDarkGray, .progressBarCompleteYellow, .progressBarCompleteRed, .progressBarComplete, .progressBarOverdue, .progressBarCompleteGreen {
  position: absolute;
}

.progressBarRemainingDarkGray {
  left: +1px;
}

/** IE 7/8 Hack to fix the fact that fieldsets don't play within their borders.  Bug 6806 PH**/
.form-renderer fieldset .x-fieldset-body {
  padding-top: 15px;
}

/** IE 8/9 (in 8 doc mode) - Give a bit of margin to the top of the fieldset body so it doesn't overflow the legend. Bug 15890 **/
.x-fieldset-body {
  margin-top: 1px;
}

/** Push the text fields down inline with their trigger button on the provisioning policy editor **/
#identitySearchResultsGrid .x-form-field-wrap .x-form-text, #fieldFormPanel .x-form-field-wrap .x-form-text {
  margin-top: 1px !important;
}

.smallFontGrid .x-grid-header {
  height: 22px !important;
  overflow: hidden;
  line-height: 18px !important;
}

#dashTable .smallFontGrid .x-grid-header {
  height: 26px !important;
}

/** Override for IT Role Mining Results Panel **/
#itRoleMiningResultsPanel .x-grid-header {
  height: auto !important;
  overflow: visible !important;
}

.wrappingGrid .x-grid-header .x-grid-hd-inner {
  white-space: nowrap !important;
  line-height: 18px;
}

#highRiskWarning {
  background: url(../images/icons/exclamation.png) 0 3px no-repeat !important;
  padding: 4px 5px 2px 20px;
}

.x-toolbar table, .x-toolbar td {
  text-align: left;
}

.x-grid-row-body .paging-toolbar table {
  table-layout: auto;
}

.x-grid-row-body .paging-toolbar table table {
  table-layout: auto;
}

.paging-toolbar table td {
  vertical-align: middle
}

.x-form-element > .x-form-field-wrap > .x-form-trigger {
  vertical-align: bottom !important;
  position: static !important;
}

.x-toolbar > .x-form-field-wrap > .x-form-search-trigger {
  vertical-align: -6px !important;
}

.x-panel-body-noheader > .x-form-field-wrap > .x-form-trigger {
  vertical-align: -7px !important;
}

.extraPad .x-panel-body-noheader > .x-form-field-wrap > .x-form-trigger {
  vertical-align: -7px !important;
}

.x-form-item > .x-form-element > .x-form-text {
  vertical-align: middle !important;
  position: static !important;
}

.x-form-item > .x-form-element > .x-form-field-wrap > .x-form-text {
  vertical-align: 0 !important;
}

.htmlEditor tr td.x-form-item-body {
  position: static;
}

/* Identity Entitlements tab, IE8 won't line up label and input without this */
.identityEntitlementAdditional label {
  float: right;
}