legend {
  border-top-width: 2px !important;
}

/* Hack to fix a bug in IE9 that adds extra white space 
to the bottom of div when highlighting items in list if 
overflow is set to 'auto'. See bugs 13029 and 13117 */
.x-boundlist-list-ct {
  min-height: 0;
}

#requestAccessPanel .multisuggest .x-panel-body-default {
  border-right-width: 0;
}
