/* (c) Copyright 2013 SailPoint Technologies, Inc., All Rights Reserved. */

/*******************************************************************************
 * This stylesheet is only included for mobile clients (iPad, etc...).  Any
 * style overrides required for mobile support should be included here.
 ******************************************************************************/


/*
 * Mobile Safari rounds input text elements, which causes suggest fields to
 * look bad since they are supposed to right-align with the trigger.  Get rid
 * of the border rounding added by the user agent stylesheet.
 */
input[type="text"], textarea, input[type="password"], .tomahawkInputDate {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* disable column trigger for mobile */
.x-column-header-over .x-column-header-trigger {
  display: none !important;
}

/* The "Edit Dashboard" link is hidden on mobile, so get rid of the separator. */
#dashboardTypeSelector {
  border-right: none !important;
}