/*******************************
 * Rounded Corners CSS         *
 *******************************/
.spContent {
  border-radius: 2px; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
}

#bodyDivFooter {
  border-radius: 3px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border: 1px solid #CCCCCC;
}

.gridLegend {
  padding:2px;
  border-radius: 5px 5px 0px 0px; 
  -moz-border-radius: 5px 5px 0px 0px; 
  -webkit-border-radius: 5px 5px 0px 0px; 
  border: 1px solid #C1DADF;
}

.spTabledAjaxContent,
.spLightBlueTabledContent,
.spLightGreenTabledContent,
.spBlueTabledContent,
.spYellowTabledContent,
.roundedEdit,
.spAjaxLightBlueTabledContent,
.spAjaxLightGreenTabledContent,
.spAjaxBlueTabledContent,
#searchResultsContent,
#searchResultsOptionsContent {
  border-radius: 2px; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  border: 1px solid #ccc;
}

.roundedInnerEdit {
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 1px solid #BBBBBB;
}

.detailsDiv,
.detailsWarnDiv,
.detailsCritDiv {
  border-radius: 2px; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  border: 1px solid #ccc;
}
