/* (c) Copyright 2012 SailPoint Technologies, Inc., All Rights Reserved. 
* This file holds css for components and other sailpoint related extjs items
* that don't belong in the extjs-override.css
*/

/*
 * Wrapping grid
 */

/* Use "cls: 'wrappingGrid'" in grid configuration to have cells and headers that wrap */
.wrappingGrid .x-grid-cell-inner,
.wrappingGrid .x-grid-hd-inner {
  white-space: normal !important;
  line-height: 18px;
}

/* Use "cls: 'wrappingGridCells'" in grid configuration to have only cells (no headers) that wrap */
.wrappingGridCells .x-grid-cell-inner {
  white-space: normal !important;
  line-height: 18px;
}
/* Use "cls: 'wrappingGridCellsOW'" if you want to allow wrapping to be overwritten in child elements */
.wrappingGridCellsOW .x-grid-cell-inner {
  white-space: normal;
  line-height: 18px;
}
/* Used when hiding grid columns, to have wrapped data not affect height of rows when hidden */
.noWrap .x-grid-cell-inner {
  white-space: nowrap;
}

/*
 * PagingGrid controls
 */

.gridSelectPage {
  background-image: url(../images/icons/table.png) !important;
}

.gridSelectAll {
  background-image: url(../images/icons/table_multiple.png) !important;
}

.gridDeselectPage {
  background-image: url(../images/icons/table_delete.png) !important;
}

.gridDeselectAll {
  background-image: url(../images/icons/table_multiple_delete.png) !important;
}

/*
 * Search panel styles
 */
.searchPanel {
  background-color: #EEEEEE !important;
  border: 1px solid #CCCCCC !important;
  padding: 10px 5px 0px 10px;
}

.searchPanel > .x-panel-body {
  background-color: transparent !important;
  border-width: 0px;
}

.searchPanelForm {
  padding: 0px 5px 0px 5px;
}

.searchPanelToolbar {
  margin-top: 0px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-right: 0px !important;
}

.toolbarRightBtn {
  margin-right: 0px !important;
}

.searchPanelField > .x-panel-body {
  background-color: transparent !important;
}

/*
 * Styles used by Ext.ux.form.ItemSelector
 */
.x-form-multiselect-body .x-boundlist .x-mask {
  background: none;
}

.x-form-itemselector-body .x-form-item {
  margin: 0;
}

.x-form-itemselector-top {
  background-image: url(../images/extjs-ux/top2.gif);
}

.x-form-itemselector-up {
  background-image: url(../images/extjs-ux/up2.gif);
}

.x-form-itemselector-add {
  background-image: url(../images/extjs-ux/right2.gif);
}

.x-form-itemselector-remove {
  background-image: url(../images/extjs-ux/left2.gif);
}

.x-form-itemselector-down {
  background-image: url(../images/extjs-ux/down2.gif);
}

.x-form-itemselector-bottom {
  background-image: url(../images/extjs-ux/bottom2.gif);
}

/*
* MultiText component
*/
.multitext-trigger {
  background-image: url(../images/icons/addPlusBlk.png) !important;
}

/*
 * RadioGroup styles.
 */
.spradio table tr td label {
  padding-right: 15px;
}

/*
 * Electronic Signature
 */

.esig-errors > .x-panel-body {
  color: #FF0000 !important;
  font-size: 12px !important;
}

.eSigToolTipTitle {
  background-color: #EEEEEE;
}

.eSigTipSpan {
  background-image: url(../images/icons/esigned-16px.png) !important;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
}

.eSigToolTip td {
  vertical-align: top;
}

.eSigToolTip td:first-child {
  font-weight: bold;
  padding-right: 8px;
}
