/* (c) Copyright 2008 SailPoint Technologies, Inc., All Rights Reserved. */

/* Tag Override
This is for all styles that override a normal html tag such as <h2>, <body>,
<p>, etc...  Any type of css applied to html tags will be found here */

/** NOTE - PLEASE KEEP THIS FILE IN ALPHABETICAL ORDER **/

* {
  font-family: Arial, sans-serif;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #037da1;
}

a:hover {
  text-decoration: underline;
}

a.disclosure {
    background: url(../images/icons/TealArrowDownWhtSdw.png) center right no-repeat;
    padding-right: 26px;
    cursor: pointer;
}

a.disclosureUp {
  background: url(../images/icons/TealArrowUpWhtSdw.png) center right no-repeat !important;
}

a.action {
  background: url(../images/icons/general_action_link_10.png) center left no-repeat;
  color: #bf8b28;
  padding-left: 12px;
  font-weight: bold;
  cursor: pointer;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  background-color: #037DA1;
  color: #FFFFFF;
  height: 100%;
}

body.x-masked-relative {
  height: auto;
}

fieldset, .fieldset {
  padding: 1em;
  background-color: #EEEEEE;
  margin-top: 5px;
}

html {
  height: 100%
}

h2 {
  font-size: 15px;
  font-weight: bold;
  color: #037da1;
}

input::-ms-clear {
  display: none;
}

legend {
  background-color: #F9F9F9;
  border: 1px solid gray;
  font-weight: bold;
}

.x-webkit legend {
  border-top: 2px solid gray;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 13px;
  border: 1px #b5b8c8 solid;
}

input {
  margin: auto;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

select {
  font-size: 13px;
}

thead th {
  padding: 3px;
}

ol {
  list-style: decimal;
}

ol li {
  list-style: decimal;
  margin-left: 25px;
}

ul {
  list-style: disc;
}

ul li {
  list-style: disc;
  margin-left: 25px;
}

/* Leave bullets out of form errors */
td.x-form-invalid-under ul li {
  list-style: none;
}

strong, b {
  font-weight: bold !important;
}

em, i {
  font-style: italic !important;
}

em button {
  font-style: normal !important;
}

/* For Ext buttons with an href */
em a span {
  font-style: normal !important;
}

/*
This is for unicode support in IE. For some reason, selects have to be treated
specially or not all glyphs will display.
*/
select {
  font-family: "Arial Unicode MS", sans-serif
}
