/***************************************
/** Template Editor styles
/**************************************/

/** ICONS **/
.addLink {
  background: url("../../../../../images/icons/add.png") no-repeat 0 0;
  font-size:8pt;
  padding:3px 0 3px 18px;
  color:#333333;
}

.deleteLink {
  background: url("../../../../../images/icons/cancel.png") no-repeat 0 0;
  font-size:8pt;
  padding:3px 0 3px 18px;
  color:#333333;
}

/* Make the headers on the field grid match panel header */
#fieldGrid .x-column-header {
  font-size: 15px !important;
}