<form name="ui.form">
  <sp-aria-errors></sp-aria-errors>
  <label for="sunriseDatepicker">{{ 'ui_my_approvals_item_start_date' | spTranslate }}:</label>
  <input id="sunriseDatepicker" sp-datepicker-id="sunriseInput" sp-datepicker="dates.sunrise" min-date="sunriseMin" max-date="dates.sunset" alt="{{ 'ui_my_approvals_item_start_date' | spTranslate }}"/>
  <label for="sunsetDatepicker">{{ 'ui_my_approvals_item_end_date' | spTranslate }}:</label>
  <input id="sunsetDatepicker" sp-datepicker-id="sunsetInput" sp-datepicker="dates.sunset" min-date="sunsetMin" alt="{{ 'ui_my_approvals_item_end_date' | spTranslate }}"/>
</form>