<section class="panel panel-body slim-scroll">
  <section class="chat-list" sp-scroll-bottom="comments.$promise">
    <div ng-if="comments.length > 0">
      <sp-chat-message 
        text="{{comment.comment}}"
        emptytext="{{ 'ui_no_comment' | spTranslate }}"
        sender="{{comment.author}}"
        timestamp="{{comment.date | date:'short'}}"
        right="{{isRightAligned(comment.author)}}"
        ng-repeat="comment in comments" />
    </div>
    <div ng-if="comments.length < 1">
      {{'ui_no_comments' | spTranslate}}
    </div>
  </section>
</section>
