<sp-aria-errors></sp-aria-errors>

<article class="chat-item" id="chat-form">
  <span role="presentation" class="pull-left thumb-sm avatar">
    <img role="presentation" src="images/avatar_default.jpg" class="img-circle"/>
  </span>
  <section class="chat-body">
    <form action="" class="m-b-none" name="form.comment">
      <div class="form-group">
        <label class="sr-only" for="newComment">{{ 'ui_my_approvals_new_comment' | spTranslate }}</label>
        <textarea class="form-control" 
                  rows="2" 
                  placeholder="{{ 'ui_comment_textarea_placeholder' | spTranslate}}" 
                  ng-model="newComment.text"
                  required="required"
                  ng-required="true"
                  id="newComment"
                  name="newComment">
        </textarea>
        <div aria-hidden="true" class="text-danger reader-error" ng-show="showErrorMsg(form.comment.newComment)">
          {{ 'ui_my_approvals_comment_required' | spTranslate }}
        </div>
      </div>
    </form>
  </section>
</article>