<section>

  <div sp-radio-group="" ng-model="model.priority">
    <div class="m-b-lg radio radio-container">
      <input type="radio" class="radio-with-icon" sp-radio="High" radio-id="radioHigh" radio-label="{{ 'ui_my_approvals_high_priority' | spTranslate }}"/>
      <label class="high-priority-icon m-l-xs" tooltip="{{ 'ui_my_approvals_high_priority' | spTranslate }}">
        <i class="fa fa-flag" role="presentation" aria-hidden="true"></i>
      </label>
    </div>

    <input type="radio" class="m-b-lg" sp-radio="Normal" radio-id="radioNormal" radio-label="{{ 'ui_my_approvals_normal_priority' | spTranslate }}"/>

    <input type="radio" class="m-b-lg" sp-radio="Low" radio-id="radioLow" radio-label="{{ 'ui_my_approvals_low_priority' | spTranslate }}"/>
  </div>

</section>
