<form name="ctrl.dateForm">
  <sp-aria-errors></sp-aria-errors>
  <label for="sunriseDatepicker">{{ 'ui_item_start_date' | spTranslate }}:</label>
  <input id="sunriseDatepicker" sp-datepicker-id="sunriseInput" sp-datepicker="ctrl.sunriseDate"
         min-date="ctrl.sunriseMin" max-date="ctrl.sunsetDate" alt="{{ 'ui_item_start_date' | spTranslate }}"/>

  <label for="sunsetDatepicker">{{ 'ui_item_end_date' | spTranslate }}:</label>
  <input id="sunsetDatepicker" sp-datepicker-id="sunsetInput" sp-datepicker="ctrl.sunsetDate"
         min-date="ctrl.calcSunsetMin()" alt="{{ 'ui_item_end_date' | spTranslate }}"/>
</form>
