/***************************************
/** Application styles
/**************************************/

#accountsGridCmp .x-toolbar {
  border-top: none !important;
  padding: 10px 0 12px 12px !important;
}

.noBorder .spTable {
  border: none;
}

#applicationExtTabs {
  margin-bottom: 20px;
}

#applicationExtTabs .submenuContentBox {
  padding: 20px;
}

/* Text shown after clicking Test Connection */
.workingText {
  color: #333333;
  text-indent: 20px;
}

.appInfoTable td {
  padding: 5px;
}

/** This is here temporarily to limit the effect of changing HTML input heights to just the application page. 
     something similar exists in css/sailpoint/web/analyze/search.css                                                 **/
#applicationExtTabs input[type=text], #applicationExtTabs input[type=password] {
  height: 30px !important;
  line-height: 26px;
  vertical-align: middle !important;
  border: 1px solid #b5b8c8;
  width: 300px;
}

#jdbcSettingsDiv input[type=text], #jdbcSettingsDiv input[type=password] {
  width: 400px;
}

#jdbcSettingsDiv .x-panel-header-text, #delimitedSettingsDiv .x-panel-header-text, #sqlLoaderDiv .x-panel-header-text, .blueHeader .x-panel-header-text {
  color: #037da1;
}

#delimitedSettingsDiv table textarea {
    width: 250px;
}

#delimitedSettingsDiv .certScheduleTitleCol div {
  margin: 5px;
}

#applicationExtTabs textarea {
  width: 800px;
}

#applicationExtTabs input[type=checkbox] {
  margin-right: 5px;
}

.spTable .schema-detail-column {
    float:left;width: 400px;margin-left: 7px;
}

.spTable .schema-detail-item {
    margin-top: 15px;
}

.spTable .schema-detail-label {
    margin-bottom: 5px;
}

/** This is the CSS used for the Tab panel top bar in the Configure applications page **/
.appPageExtTabs .x-tab-active button {
    color: #f0f0f0 !important;
}

.appPageExtTabs .x-tab-active {
    background-color: #037da1 !important;
}

.appPageExtTabs .x-tab-bar-body {
    background-color: #F0F0F0 !important;
    border-color: #F0F0F0 !important;
}

.appPageExtTabs .x-tab {
    background-color: #F0F0F0;
    background-image: none;
    border: none !important;
}

.appPageExtTabs .x-tab-bar-strip {
    background-color: #F0F0F0 !important;
}

.appConfig .x-tab-bar-body {
    background-color: #cccccc !important;
    border-right-width: 1px !important;
    borderStyle: solid !important;
    border-color: #cccccc;
}

.appConfig .x-tab {
    background-color: #cccccc !important;
    background-image: none !important;
}

/** End Tab panel top bar in the Configure applications page **/

/** Schema Attribute Definition Styles **/

.attributeCSV {
    width:250px;
    float:left;
    text-overflow: ellipsis;
}

.attributeEdit {
    background: url(../../../../../images/icons/gear-icon16.png) 16px center no-repeat;
    padding-left: 35px;
    padding-right: 10px;
    margin-top: 5px;
    display: block;
    float: right;
}
