/* Default attributes of table container for entire calendar */
.jscalendar-DB-table-style {
  font-family: arial;
  font-size: 8pt !important;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.jscalendar-DB-table-style td,
.jscalendar-DB-table-style span,
.jscalendar-DB-table-style a,
.jscalendar-DB-dropdown-style td {
  font-size: 8pt !important;
}

/* Default attributes of DIV containing table container for entire calendar.
 * You probably don't want to alter this style.
 */
/** bug #17229: adding 19000 to default z-index of 999 to get around popup hidden under ext window **/
.jscalendar-DB-div-style {
  z-index: +19999;
  position: absolute;
  visibility: hidden;
  border: 1px solid #4a4444;
  box-shadow: 0 0 4px #888888;
}

/* Default attributes used in calendar title (month and year columns).*/
.jscalendar-DB-title-style {
  padding: 2px;
  font-family: arial;
  font-weight: bold;
  color: #ffffff;
}

/* Default attributes used in calendar title background.*/
.jscalendar-DB-title-background-style {
  color: #ffffff;
  font: normal 11px arial, sans-serif;
  overflow: hidden;
  background-image: none;
  background-color: #bdbdbd;
  background-image: -webkit-linear-gradient(bottom, #c5c5c5, #b3b3b3);
  background-image: -moz-linear-gradient(bottom, #c5c5c5, #b3b3b3);
  background-image: -o-linear-gradient(bottom, #c5c5c5, #b3b3b3);
  background-image: linear-gradient(to bottom, #c5c5c5, #b3b3b3);
}

.jscalendar-DB-title-background-style table {
  width: 100%;
}

/* Normal appearance of controls in calendar title. */
/* Note: The right, left and down icons are images, jscalendar-DBich must be edited if you need to change them. */
.jscalendar-DB-title-control-normal-style {
  border-style: solid;
  border-width: 0;
  border-color: #cccccc;
  cursor: pointer;
}

/* Normal appearance of images in calendar title. */
/* Note: The right, left and down icons are images, jscalendar-DBich must be edited if you need to change them. */
.jscalendar-DB-title-img-normal-style {
  cursor: pointer;
}

/* Moused-over (selected) appearance of controls in calendar title. */
.jscalendar-DB-title-control-select-style {
  border-style: solid;
  border-width: 0;
  border-color: #cccccc;
  cursor: pointer;
}

/* Moused-over (selected) appearance of controls in calendar title. */
.jscalendar-DB-title-img-select-style {
  cursor: pointer;
}

/* Default attributes of drop down lists (month and year). */
.jscalendar-DB-dropdown-style {
  font-family: arial;
  border-width: 1px;
  border-style: solid;
  border-color: #a0a0a0;
  background-color: white;
  cursor: pointer;
}

/* Default attributes selected (mouse-over) item in drop down lists (month and year). */
.jscalendar-DB-dropdown-select-style {
  background-color: #037da1;
  color: white;
}

/* Default attributes unselected (mouse-off) item in drop down lists (month and year). */
.jscalendar-DB-dropdown-normal-style {
  background-color: inherit;
}

/* Default attributes of calendar body (weekday titles and numbers). */
.jscalendar-DB-body-style {
  background-color: #ffffff;
  font-family: verdana;
}

/* Attributes of current day in calendar body. */
.jscalendar-DB-current-day-style {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: darkred;
}

/* Attributes of end-of-week days (Sundays) in calendar body. */
.jscalendar-DB-end-of-weekday-style {
  color: #909090;
  text-decoration: none;
}

/* Attributes of all other days in calendar body. */
.jscalendar-DB-normal-day-style {
  color: #333333;
  text-decoration: none;
}

.jscalendar-DB-would-be-selected-day-style {
  background-color: #b3e2f0;
}

.jscalendar-DB-body-style td:hover {
  background-color: #b3e2f0;
}

/* Attributes of border around selected day in calendar body. */
.jscalendar-DB-selected-day-style {
  display: block;
  font-weight: bold;
  padding: 2px;
  background: none repeat-x scroll left top #eaeaea;
  border: 1px solid #cccccc;
}

/* Default attributes of designated holidays. */
.jscalendar-DB-holiday-style {
  background-color: #ffdddd;
}

/* Attributes of today display at bottom on calendar */
.jscalendar-DB-today-style {
  padding: 2px;
  color: #333333;
  text-decoration: none;
  background: none repeat-x scroll left top #fbfcfa;
  border: 1px solid #cccccc;
}

/* Attributes of today display label at bottom on calendar */
.jscalendar-DB-today-lbl-style {
  padding: 5px;
  text-align: center;
  border-top: 1px solid #cccccc;
  background-image: none;
  background-color: #f0f0f0;
}

/* Attributes of week number division (divider.gif) */
.jscalendar-DB-weeknumber-div-style {
  background-color: #d0d0d0;
  padding: 0;
}

.jscalendar-DB-table-style tr td {
  padding: 3px 2px;
}

.jscalendar-DB-weeknumber-div-style {
  padding: 0 !important;
}

.jscalendar-DB-body-style {
  padding: 0 !important;
}

/* Default attributes used in calendar title background.*/
.jscalendar-DB-header {
  border-collapse: separate;
  cursor: default;
  padding: 0;
  text-align: right !important;
  color: #333333;
  font: normal 10px tahoma, arial, verdana, sans-serif;
  border-bottom: 1px solid #d0d0d0;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dadada));
  background-image: -webkit-linear-gradient(bottom, #ffffff, #dadada);
  background-image: -moz-linear-gradient(bottom, #ffffff, #dadada);
  background-image: -o-linear-gradient(bottom, #ffffff, #dadada);
  background-image: linear-gradient(to bottom, #ffffff, #dadada);
}
