/**************************************
/** Certification Schedule and Groups
/**************************************

/* Certification Schedule columns */
.certScheduleTitleColNotifications {
  width: 50%;
  vertical-align: top;
  font-weight: bold;
  text-align: right;
}

.certScheduleOptionColNotifications {
  width: 50%;
  vertical-align: top;
}

/*END Certification Schedule Columns */

/* Certification Schedule button */
.scheduleCertificationBtn {
  background: url('../../../../../images/icons/dialogue_success_16.png') center left no-repeat !important;
}

/** Layout for certification groups page */
.twoColumn {
  width: 95%;
  padding: 10px;
}

.twoColumn .column {
  float: left;
  width: 49%;
}

.twoColumn div {
  margin-bottom: 5px;
}

.twoColumn div div label {
  font-weight: bold;
  margin-right: 10px;
}

.twoColumn div div label {
  font-weight: bold;
  margin-right: 10px;
}

.chartRow {
  margin-top: 15px;
}

.decisionChartCell {
  float: left;
  width: 350px;
  padding-bottom: 20px;
}
/* END layout of certification groups */