/***************************************
/** LCM styles
/**************************************/

#manageAccountsGrid .x-grid-dirty-cell {
  background-image: none;
}

/* word wrap hacks for Identity Request pages */
.adornColumn {
  word-wrap: break-word;
}

.breakword {
  word-wrap: break-word;
}

/** Some styling for the "My Access Request" grids **/
.accessdetailsgrid {
  padding: 5px 15px 5px 15px;
}

.changesGrid {
  margin: 0 15px 0 15px;
}

.changeDetailsGrid {
  margin: 5px 0 15px 0;
}

/* Request Access header stuff */
.requestHeaderLinks {
  background-color: #cccccc;
  float: right;
  padding: 0 10px 5px 10px;
  margin-right: 10px;
}

#requestsTotal, #summaryLink {
  float: left;
}

#requestsTotal, #summaryLink a{
  color: #333333;
  font-size: 13px;
  text-decoration: none;
}

#requestsTotal {
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 24px;
  border-right: 1px #333333 solid;
  background: url(../../../../images/icons/Cart1.png) left center no-repeat;
}
/* END header */

/** Request Access remover **/
.remover {
  background:url(../../../../images/icons/remove_grey_18.png);
  width:18px;
  height:18px;
  cursor:pointer;
}

.remover:hover,
.remover.active,
.row-removed .remover {
  background:url(../../../../images/icons/remove_18.png);
}

tr.row-removed td.x-grid-cell {
  background: #FAF0E6 !important;
  border-bottom: 1px solid #FF0033;
  border-top: 1px solid #FF0033;
  color:#9e0000;
}

tr.row-removed span,
tr.row-removed div,
tr.row-removed a {
  font-style:italic;
  color:#bd0000 !important;
}
/*END Request access remover */

/* Class for pending role requests on Role List in Request Access. 
Class name added in RoleListResource.java */
.requested {
  background-image: url(../../../../images/icons/clock.png) !important;
  background-repeat: no-repeat !important;
  background-position: left 4px !important;
  color: seagreen;
  padding-left:20px;
}

/* Class for pending sunrise/sunset date on Role List in Request Access
 Class name added in RoleListResource.java */
.clock {
  background-image: url(../../../../images/icons/clock.png) !important;
  background-repeat: no-repeat !important;
  background-position: left 4px !important;
  padding-left:20px;
}

/* Refresh account on Manage Accounts */
.status_loading img,
.status_loading_complete img {
  vertical-align:middle;
  margin:0 5px 0 0;
}

.status_loading_complete {
  color: seagreen;
}

.lcmNameTitle {
  font-size : 13px;
  font-weight : bold;
}

/* LCM Operations Icons */
.lcm-op {
  padding-left:22px;
  line-height:13pt;
}

.lcm-op-Modify {
  background:url(../../../../images/icons/user_edit.png) no-repeat 0 1px;
}

.lcm-op-Create {
  color: seagreen;
  background:url(../../../../images/icons/add.png) no-repeat 0 1px;
  line-height:15pt;
  padding:0 0 0 20px;
}

.lcm-op-Delete {
  color: tomato;
  background:url(../../../../images/icons/delete.png) no-repeat 0 1px;
  line-height:15pt;
  padding:0 0 0 20px;
}

.lcm-op-Remove {
  color: tomato;
  background: url("../../../../images/revokeAccountRadio.png") no-repeat 0 -75px;
  padding:0 0 3px 25px;
  line-height:15pt;
}

.lcm-op-Unlock {
  color: seagreen;
  background: url("../../../../images/unlockRadio.png") no-repeat 0 -77px;
  padding:0 0 3px 25px;
  line-height:15pt;
}

.lcm-op-Disable {
  color: tomato;
  background: url("../../../../images/disableRadio.png") no-repeat 0 -77px;
  padding:0 0 3px 25px;
  line-height:15pt;
}

.lcm-op-Enable {
  color: seagreen;
  background: url("../../../../images/enableRadio.png") no-repeat 0 -77px;
  padding:0 0 3px 25px;
  line-height:15pt;
}

.lcm-op-Add {
  color: seagreen;
  background: url("../../../../images/addRadio.png") no-repeat 0 -75px;
  padding:0 0 3px 25px;
  line-height:15pt;
}

.lcmDelete {
  padding-left:23px !important;
  background: url("../../../../images/deleteRadio.png") no-repeat 0 -77px;
}

.lcmDisable {
  padding-left:23px !important;
  background: url("../../../../images/disableRadio.png") no-repeat 0 -77px;
}

.lcmDisabled {
  padding-left:18px !important;
  color: tomato;
  background: url("../../../../images/icons/risk_indicator_cc0000.png") no-repeat;
}

.lcmEnable {
  padding-left:23px !important;
  background: url("../../../../images/enableRadio.png") no-repeat 0 -77px;
}

.lcmLock {
  padding-left:23px !important;
  background: url("../../../../images/lockRadio.png") no-repeat 0 -77px;
}

.lcmLocked {
  padding-left:18px !important;
  color: tomato;
  line-height:13pt;
  background: url("../../../../images/icons/riskscore_locked_16.png") no-repeat;
}

.lcmActive {
  padding-left:18px !important;
  background: url("../../../../images/icons/risk_indicator_00cc00.png") no-repeat;
  color: seagreen;
}

.lcmUnlock {
  padding-left:23px !important;
  background: url("../../../../images/unlockRadio.png") no-repeat 0 -77px;
}

.lcmNewAccount {
  color: seagreen;
}
/* END LCM Operation Icons */

/* Action Radios */
.lcmRemoveRadio {
  background: url("../../../../images/revokeAccountRadio.png") no-repeat 0 0;
}

.lcmDeleteRadio {
  background: url("../../../../images/deleteRadio.png") no-repeat 0 0;
}

.lcmDisableRadio {
  background: url("../../../../images/disableRadio.png") no-repeat 0 0;
}

.lcmRefreshRadio {
  background: url("../../../../images/refreshRadio.png") no-repeat 0 0;
}

.lcmEnableRadio {
  background: url("../../../../images/enableRadio.png") no-repeat 0 0;
}

.lcmLockRadio {
  background: url("../../../../images/lockRadio.png") no-repeat 0 0;
}

.lcmUnlockRadio {
  background: url("../../../../images/unlockRadio.png") no-repeat 0 0;
}
/* END Action Radios */

.lcmIdPicker {
  width: 68%;
}

.lcmSelectedIds {
  min-width: 360px;
  width: 32%;
}