/******************************************
** Request Access lcm/requestAccess.jsf
******************************************/

/* This hides the section title for LCM requests,
 * but also impacts Manage->Access Request.  See
 * accessrequest.css for the override on that page.
 */
#bodyDivTitle {
  display: none
}

.request_access_title_container {
  clear: both;
}

.request_access_title {
  text-align: center;
  width: 100%;
}

.request_access_title h4 {
  font-size: 13pt;
  line-height: 20px;
}

.breadcrumbs_wrap {
  position: relative;
  height: 35px;
  width: 500px;
}

.breadcrumbs {
  position: absolute;
}

#request_access_search_container {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 580px;
  margin: 0 0 10px 0;
  clear: both;
}

#request_access_search {
  float: left;
  margin: 10px 0 0 15px;
  width: 480px;
  padding: 0 0 0 0;
}

#searchField input {
  height: 30px;
  font-size: 13pt;
  line-height: 30px;
}

#request_access_search_btn {
  float: left;
}

#request_access_search_btn input {
  height: 30px;
  margin: 10px 0 0;
}

#request_access_search_btn input.disabled {
  background: #ededed;
  color: #ccc;
  border: 1px solid #eee;
}

#roleFilterForm, #entitlementFilterForm {
  font-weight: bold;
  background: #eee;
  border-bottom: 1px #d0d0d0 solid;
}

#roleFilterForm-body, #entitlementFilterForm-body {
  padding: 5px 0 0 5px;
  background: #eee;
  border-width: 0;
}

#roleFilterForm .x-toolbar-footer, #entitlementFilterForm .x-toolbar-footer {
  padding-bottom: 6px;
}

#requestAccessPanel .x-panel-body-default {
  border-top-width: 0;
  border-right-width: 0;
}

#requestAccessPanel .multisuggest .x-panel-body-default {
  border-right-width: 1px;
}

#permittedRolesGrid .x-grid-cell-inner {
  font-size: 11pt;
  line-height: normal;
}

#requestAccessSearchTerms {
  margin: 15px 0;
}

#requestAccessSearchTerms .search-term {
  padding: 3px 5px 3px 25px;
  background: url('../../../../images/icons/remove_grey_12.png') left center no-repeat;
  border-bottom: 1px #eee solid;
  cursor: pointer;
}

#requestAccessSearchTerms .search-term:hover {
  background: url('../../../../images/icons/remove_12.png') left center no-repeat;
}

#requestAccessSearchTermHelp {
  font-size: 11pt;
  border-bottom: 1px #eee solid;
}

#requestAccessFilters h4 {
  font-size: 11pt;
  margin: 15px 0 5px;
}

#requestAccessFilters h4 span {
  font-size: 11pt;
  float: right;
  color: #037da1;
  cursor: pointer;
}

.button_holder {
  margin-top: 10px;
  text-align: right;
}

#requestAccessFilters .no-border {
  border-width: 0 !important;
}

#requestAccessList .request_item h5,
.x-grid-cell-inner h5 {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#requestAccessList-body {
  border-right-width: 1px !important;
}

#requestAccessList .request_item .description {
  white-space: normal !important;
  font-size: 11pt;
  clear: both;
  display: block;
}

.property {
  display: block;
  font-size: 11pt;
  background: url('../../../../images/icons/bullet_black.png') left center no-repeat;
  padding-left: 15px;
  line-height: normal;
}

#requestAccessList .property {
  float: left;
  width: 50%;
}

.description.property {
  background: none;
  margin: 0;
  padding: 0;
}

#requestAccessList .request_item .add_to_cart {
  position: absolute;
  bottom: 10px;
  right: 0;
}

#requestAccessList .request_item .add_to_cart input {
  font-size: 11pt;
}

#requestAccessList .request_item {
  border-bottom: 1px #ccc solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  margin-right: 10px;
}

#requestAccessList-body {
  overflow-x: hidden !important;
}

#requestAccessList .request_item:hover {
  background: #fefefe;
  background-repeat: no-repeat;
}

#requestAccessList .riskIndicator {
  background-position: left center;
  display: inline;
}

#requestAccessList .progressBarContainer {
  float: right;
}

#requestAccessList .progressBarNumComplete {
  display: block;
  float: right;
  width: 100px;
}

#requestAccessList .properties {
  float: left;
  overflow: hidden;
  width: 500px;
}

#requestAccessList .buttonHolder {
  float: right;
  margin: 5px 5px 0 0;
}

#requestAccessPanel-body {
  border-bottom-width: 0;
  border-left-width: 0;
}

#requestAccessFilterPanel_header-targetEl .x-tool {
  display: none;
}

#requestAccessSearchToggle {
  margin: 15px 10px 10px 15px;
  font-size: 15pt;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  clear: both;
  line-height: 17pt;
}

#requestAccessSearchToggle a {
  text-decoration: underline;
  color: #037da1;
}

#requestAccessSearchToggle span {
  color: #aaa;
  font-size: 15pt;
}

#requestAccessSearchToggle a.active {
  font-weight: bold;
  text-decoration: none;
  font-size: 15pt;
}

.requestAccessPager {
  overflow: hidden;
  padding: 0 0 5px 0;
}

#requestAccessListHeader .label {
  padding-right: 10px;
}

.requestAccessMain .label {
  padding-right: 10px;
  font-size: 11pt;
  line-height: 18px;
  font-weight: bold;
}

.requestAccessMain .label {
  float: left;
}

.requestAccessPager a {
  float: left;
  display: block;
  margin-top: 3px;
  padding: 0 5px 0 5px;
  border-left: 1px #ccc solid;
  line-height: 12px;
  font-size: 11pt;
}

.requestAccessPager .previous {
  padding-left: 0;
  border: 0;
}

.requestAccessPager .current {
  font-weight: bold;
  color: #000;
}

.requestAccessPager .inactive {
  color: #ccc;
}

#requestAccessCartItemsGrid .x-fit-item {
  overflow: hidden !important;
}

#currentAccessTbar, #requestAccessListTbar {
  border-top: none !important;
}

#chosenIdentityGrid .x-fit-item {
  overflow-x: hidden !important;
}

#requestAccessCartItemsGrid .x-grid-cell-inner {
  text-transform: capitalize;
}

#requestAccessCartItemsGrid .Remove td {
  background: #FDF2EE !important;
  color: #B22222;
  border-bottom: 1px #FF3030 solid;
}

#requestAccessCartItemsGrid .Add td {
  background: #F0FFFF !important;
  color: #458B00;
  border-bottom: 1px #76EE00 solid;
}

#requestAccessCurrentAccessGrid .x-grid-cell-inner,
#requestAccessCartItemsGrid .x-grid-cell-inner {
  white-space: normal;
}

#requestAccessIdentityHighRiskWarning,
#requestAccessPopulationHighRiskWarning {
  margin: 10px 0;
}

.permittedRoleDetailsInstructions,
.accountChoiceDetailsInstructions {
  margin-bottom: 10px;
  font-size: 11pt;
}

.permittedRoleDetails .property,
#accountChoiceWindow .property {
  display: block;
  margin-left: 30px;
  clear: both;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 11pt;
}

.permittedRoleDetails .property label,
#accountChoiceWindow .property label,
#accountChoiceWindow .x-field-label-cell label {
  display: block;
  float: left;
  font-weight: bold;
  width: 20%;
}

.permittedRoleDetails .value,
#accountChoiceWindow .value {
  float: left;
  display: block;
  width: 75%
}

table.details {
  margin: 10px;
}

table.details td {
  vertical-align: top;
  padding-top: 5px;
}

table.details td.pl {
  padding-left: 10px;
}

table.details label {
  font-weight: bold;
}

.sunrise {
  margin-right: 20px;
}

#accountChoiceWindow .x-panel-body-default,
#editDetailsWin .x-panel-body-default {
  border: 0;
}

#selectAccountFormPanel {
  margin-top: 10px;
}

#selectAccountFormPanel table.x-form-item {
  margin-top: 10px;
}

#accountChoiceWindow .x-form-item,
#editDetailsWin .x-form-item {
  margin-left: 42px;
}

#requestAccessIdentityFilter {
  clear: both;
}

#populationGrid, #chosenIdentityGrid {
  box-shadow: none !important;
}

.progressBarContainer {
  cursor: pointer;
  cursor: pointer;
}

#pagingtoolbar {
  border: 0;
}

#requestAccessFilterPanel .helper {
  font-size: 11pt;
  line-height: normal;
  margin-bottom: 10px;
}

.request-access-view-details {
  padding-top: 5px;
  float: left;
  width: 200px;
  clear: left;
}

.profile-icon {
  background-image: url("../../../../images/icons/modeler_profile_16.png") !important;
  background-repeat: no-repeat;
}

.in-cart {
  font-size: 11pt;
  background-image: url("../../../../images/icons/icon_cart_16.png") !important;
  background-repeat: no-repeat;
  padding-left: 20px;
  color: #333;
  font-family: arial, sans-serif;
}

#filterPopulationPanel table.x-item-disabled,
#filterPopulationPanel .x-item-disabled label {
  opacity: 1 !important;
  -moz-opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

#filterPopulationPanel .x-item-disabled div.x-form-trigger {
  opacity: 0.3 !important;
  -moz-opacity: 0.3 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}

/** SUMMARY PAGE **/
#pageControls {
  float: right;
  margin: 0 20px 0 50px;
}

#pageControls h4.request-options {
  font-size: 13pt;
  font-weight: bold;
  color: #037da1;
}

#pageControls table td.padded {
  padding: 5px;
}

.edit_details {
  background: url(../../../../images/icons/application_form_edit.png) left no-repeat;
  padding-left: 20px;
  display: block;
  padding-top: 3px;
  min-height: 19px;
}

.requestEntitlementLarge {
  background-image: url("../../../../images/icons/entitlement_32.png") !important;
  background-repeat: no-repeat;
}

.role-rule-desc .spLightBlueTable {
  table-layout: fixed;
}

.role-rule-desc .spLightBlueTable td {
  word-wrap: break-word;
}

.role-acct-selection-panel {
    border-top: solid 1px #c9bfbf;
}

p.role-acct-select-hdr {
    color: #037da1;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px 0px 10px;
}