/***************************************
/** Identity styles
/**************************************/

/* Title column on Identity Attributes list table */
.attributeTitleColumn {
  width: 5%;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}

/* Application name/link column on Application Accounts table */
.identityLinkListApplicationColumn {
  width: 400px;
}

/* Delete, Move, etc icons on the Application Accounts table */
.identityLinkListIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0 7px 0 7px;
}

/* Identity History Icons */
div.historyItemITRole {
  background: url(../../../../../images/icons/modeler_application_16.png) center center no-repeat;
  width:100%;
  height:17px;
}

div.historyItemBusinessRole {
  background: url(../../../../../images/icons/modeler_function_16.png) center center no-repeat;
  width:100%;
  height:17px;
}

div.historyItemOrgRole {
  background: url(../../../../../images/icons/modeler_process_16.png) center center no-repeat;
  width:100%;
  height:17px;
}

div.historyItemException {
  background: url(../../../../../images/icons/modeler_profile_16.png) center center no-repeat;
  width:100%;
  height:17px;
}

div.historyItemAccount {
  background: url(../../../../../images/icons/modeler_profile_16.png) center center no-repeat;
  width:100%;
  height:17px;
}

div.historyItemPolicyViolation{
  background: url(../../../../../images/icons/policy_violation_16.png) center center no-repeat;
  width:100%;
  height:17px;
}

div.historyEntitlement{
  background: url(../../../../../images/icons/entitlement.png) center center no-repeat;
  width:100%;
  height:17px;
}

div.historyGroup{
  background: url(../../../../../images/icons/group.png) center center no-repeat;
  width:100%;
  height:17px;
}
/* END Identity History Icons */

#identityTabs, #historyTabs {
  margin: 20px 10px;
}

.savecancelButtonGroup {
  margin-left: 10px;
}

/* Entitlements list in account group on identity edit page */
.entitlementList {
  margin: 0;
  padding:0;
}

.role-rule-desc {
  word-break: break-all;
  word-wrap: break-word;
}

.identityEntitlementAdditional {
  white-space: nowrap;
  vertical-align: middle;
}