/* Filters on manage/riskScores grid */
.loadedFilter {
  background: url('../../../../../images/gradients/lightYellow.png') repeat-x;
}

.loadedFilter {
  border-top:1px #ccc solid;
  border-bottom:1px #ccc solid;
  font-weight: bold;
}